<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.png" alt="Лого" width="160" class="page-header__logo-image">
            </a>
            <nav class="page-header__nav">
                <a href="#" class="page-header__nav-link">
                    Полиграфия
                </a>
                <a href="#" class="page-header__nav-link">
                    Дизайн
                </a>
                <a href="#" class="page-header__nav-link">
                    Мерч
                </a>
                <a href="#" class="page-header__nav-link">
                    Магазин
                </a>
            </nav>
            <button class="page-header__burger">

            </button>
            <div class="page-header__contacts">
                <a href="tel:+79534855566" class="page-header__phone-link">8 953 485 55 66</a>
                <a href="#" class="btn page-header__contact-us-btn" data-text="Заказать расчет">
                    <span class="btn__inner-text">
                        Заказать расчет
                    </span>

                </a>
            </div>
        </div>
    </div>
</header>