<div class="modal js-modal" id="contact-modal">
    <div class="modal__contact-modal">
        <button class="modal__close modal__close--right js-close-modal" type="button">
            <svg width="14" height="14" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <form action="/" method="POST" class="contact-form contact-form--modal" data-need-validation=""
            id="modal-contact-form">
            <div class="contact-form__top-row">
                <h3 class="contact-form__heading">
                    Оставьте заявку
                </h3>
                <svg width="14" height="14" aria-hidden="true" class="icon-star contact-form__star">
                    <use xlink:href="#star"></use>
                </svg>
            </div>
            <div class="contact-form__fields">
                <div class="contact-form__field">
                    <input type="text" name="name" class="contact-form__input" required placeholder="Имя">
                </div>
                <div class="contact-form__field">
                    <input type="tel" name="phone" class="contact-form__input js-phone-input" required
                        data-parsley-phone="" placeholder="телефон">
                </div>
                <div class="contact-form__field">
                    <textarea name="comment" class="contact-form__input" placeholder="Сообщение"></textarea>
                </div>
                <div class="contact-form__field">
                    <div class="contact-form__file-upload js-contact-form-file-upload" data-loaded-text="заменить файл">
                        <label class="contact-form__file-upload-dropzone">
                            <input type="file" name="file" class="contact-form__file-upload-input">
                            <div class="contact-form__file-upload-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-paper-clip">
                                    <use xlink:href="#paper-clip"></use>
                                </svg>
                            </div>
                            <div class="contact-form__file-upload-text">
                                прикрепить файл
                            </div>
                        </label>

                    </div>
                </div>
            </div>
            <div class="contact-form__controls">
                <label class="contact-form__policy-checkbox">
                    <input type="checkbox" name="policy" value="1" class="contact-form__policy-checkbox-input" required
                        checked>
                    <span class="contact-form__policy-checkbox-mark">
                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                            <use xlink:href="#checkmark"></use>
                        </svg>
                    </span>
                    <span class="contact-form__policy-checkbox-text">
                        согласен с <a href="#">
                            политикой<br> конфиденциальности
                        </a>
                    </span>
                </label>
                <button type="submit" class="btn btn--white contact-form__submit" data-text="отправить заявку">
                    <span class="btn__inner-text">
                        отправить заявку
                    </span>

                </button>
            </div>
            <div class="contact-form__success">
                <div class="contact-form__top-row">
                    <h3 class="contact-form__heading">
                        Спасибо за<br> оставленную заявку
                    </h3>
                    <svg width="14" height="14" aria-hidden="true" class="icon-star contact-form__star">
                        <use xlink:href="#star"></use>
                    </svg>
                </div>
                <div class="contact-form__success-text">
                    наш менеджер свяжется с вами после обработки оставленной заявки
                </div>
                <button type="reset" class="contact-form__success-send-again">
                    отправить новую заявку
                </button>

            </div>
        </form>
    </div>
</div>

<div class="modal js-modal" id="details-modal">
    <div class="modal__details-close-wrapper">
        <button class="modal__close js-close-modal" type="button">
            <svg width="14" height="14" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
    </div>
    <div class="modal__details-modal">
        <div class="modal__details-modal-slider js-modal-details-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="modal__details-modal-slider-card">
                            <img src="img/modal-slider-image.jpg" alt="" class="modal__details-modal-slider-card-image">

                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="modal__details-modal-slider-card">
                            <img src="img/modal-slider-image.jpg" alt="" class="modal__details-modal-slider-card-image">

                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="modal__details-modal-slider-card">
                            <img src="img/modal-slider-image.jpg" alt="" class="modal__details-modal-slider-card-image">

                        </a>
                    </div>
                </div>
            </div>
            <h4 class="modal__details-modal-slider-card-title">
                дизайн
            </h4>
            <div class="modal__details-modal-slider-arrows">
                <button class="modal__details-modal-slider-arrow modal__details-modal-slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-small-arrow-left">
                        <use xlink:href="#small-arrow-left"></use>
                    </svg>
                </button>
                <button class="modal__details-modal-slider-arrow modal__details-modal-slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-small-arrow-right">
                        <use xlink:href="#small-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="modal__details-modal-slider-pagination">

            </div>
        </div>
        <div class="modal__details-content">
            <div class="modal__details-description">
                <p>
                    Шелкографический метод позволяет наносить яркие и четкие изображенияна текстиль. Гамма цветов
                    достаточно ограничена.

                </p>
                <p>
                    Печать изображений происходит в процессе продавливания краски через тканевый трафарет с небольшими
                    ячейками. Другое название данного метода – трафаретный. изображение обретают устойчивость к
                    влажности и прямым лучам солнца.

                </p>
                <p>
                    Данный метод часто используется для сувенирной текстильной продукции. Это календари, сумки, футболки
                    и многое другое.
                </p>
            </div>
            <div class="modal__details-faq">
                <h3 class="modal__details-faq-heading">
                    Часто задаваемые вопросы
                </h3>
                <ul class="modal__details-faq-accordions-list">
                    <li class="modal__details-faq-accordions-list-item">
                        <div class="modal__details-faq-accordion js-accordion" data-close-other="">
                            <div class="modal__details-faq-accordion-btn js-accordion-btn">
                                <div class="modal__details-faq-accordion-btn-text">
                                    Можно со своим дизайном сделать мерч?
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-accordion-cross">
                                    <use xlink:href="#accordion-cross"></use>
                                </svg>
                            </div>
                            <div class="modal__details-faq-accordion-content js-accordion-content">
                                <div class="modal__details-faq-accordion-content-inner">
                                    <h4>
                                        Форматы файлов и носители:
                                    </h4>
                                    <ul>
                                        <li>
                                            - cdr (CorelDraw версии X7 и ниже)
                                        </li>
                                        <li>
                                            - ai, eps (Adobe Illustrator версии CS6 и ниже)
                                        </li>
                                        <li>
                                            - pdf (версия 1.3 (композитный), PDF/X­1a)
                                        </li>
                                        <li>
                                            - tiff (CMYK)
                                        </li>
                                    </ul>
                                    <h4>
                                        Размеры
                                    </h4>
                                    <p>
                                        Печатные файлы должны быть сверстаны строго в обрезной формат +2 мм с каждой
                                        стороны под обрез в 100% масштабе. Недопустимо наличие контрольных шкал,
                                        обрезных меток и иной технической информации.
                                    </p>
                                    <p>
                                        Точность размеров макета - 1 мм, округление до целых.
                                    </p>
                                    <p>
                                        Все значимые элементы (логотипы, текст и т.д.) должны находиться не ближе 4 мм к
                                        линиям реза, биговки, фальцовки, перфорации и т.д.
                                    </p>
                                    <h4>
                                        Растровая графика принимаются в форматах:
                                    </h4>
                                    <ul>
                                        <li>
                                            - TIFF CMYK для полноцветной печати
                                        </li>
                                        <li>
                                            - TIFF GRAYSCALE для монохромной (одноцветной печати)
                                        </li>
                                        <li>
                                            - TIFF BITMAP для штриховой печати
                                        </li>
                                    </ul>
                                    <h4> Рекомендуемое разрешение для растровых изображений:</h4>
                                    <ul>
                                        <li>
                                            - CMYK/GRAYSCALE — 300dpi
                                        </li>
                                        <li>
                                            - BITMAP - 1200dpi
                                        </li>
                                    </ul>



                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="modal__details-faq-accordions-list-item">
                        <div class="modal__details-faq-accordion js-accordion" data-close-other="">
                            <div class="modal__details-faq-accordion-btn js-accordion-btn">
                                <div class="modal__details-faq-accordion-btn-text">
                                    Какие требования к макетам?
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-accordion-cross">
                                    <use xlink:href="#accordion-cross"></use>
                                </svg>
                            </div>
                            <div class="modal__details-faq-accordion-content js-accordion-content">
                                <div class="modal__details-faq-accordion-content-inner">
                                    <h4>
                                        Форматы файлов и носители:
                                    </h4>
                                    <ul>
                                        <li>
                                            - cdr (CorelDraw версии X7 и ниже)
                                        </li>
                                        <li>
                                            - ai, eps (Adobe Illustrator версии CS6 и ниже)
                                        </li>
                                        <li>
                                            - pdf (версия 1.3 (композитный), PDF/X­1a)
                                        </li>
                                        <li>
                                            - tiff (CMYK)
                                        </li>
                                    </ul>
                                    <h4>
                                        Размеры
                                    </h4>
                                    <p>
                                        Печатные файлы должны быть сверстаны строго в обрезной формат +2 мм с каждой
                                        стороны под обрез в 100% масштабе. Недопустимо наличие контрольных шкал,
                                        обрезных меток и иной технической информации.
                                    </p>
                                    <p>
                                        Точность размеров макета - 1 мм, округление до целых.
                                    </p>
                                    <p>
                                        Все значимые элементы (логотипы, текст и т.д.) должны находиться не ближе 4 мм к
                                        линиям реза, биговки, фальцовки, перфорации и т.д.
                                    </p>
                                    <h4>
                                        Растровая графика принимаются в форматах:
                                    </h4>
                                    <ul>
                                        <li>
                                            - TIFF CMYK для полноцветной печати
                                        </li>
                                        <li>
                                            - TIFF GRAYSCALE для монохромной (одноцветной печати)
                                        </li>
                                        <li>
                                            - TIFF BITMAP для штриховой печати
                                        </li>
                                    </ul>
                                    <h4> Рекомендуемое разрешение для растровых изображений:</h4>
                                    <ul>
                                        <li>
                                            - CMYK/GRAYSCALE — 300dpi
                                        </li>
                                        <li>
                                            - BITMAP - 1200dpi
                                        </li>
                                    </ul>



                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="modal__details-faq-accordions-list-item">
                        <div class="modal__details-faq-accordion js-accordion" data-close-other="">
                            <div class="modal__details-faq-accordion-btn js-accordion-btn">
                                <div class="modal__details-faq-accordion-btn-text">
                                    В какие сроки делаете?
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-accordion-cross">
                                    <use xlink:href="#accordion-cross"></use>
                                </svg>
                            </div>
                            <div class="modal__details-faq-accordion-content js-accordion-content">
                                <div class="modal__details-faq-accordion-content-inner">
                                    <h4>
                                        Форматы файлов и носители:
                                    </h4>
                                    <ul>
                                        <li>
                                            - cdr (CorelDraw версии X7 и ниже)
                                        </li>
                                        <li>
                                            - ai, eps (Adobe Illustrator версии CS6 и ниже)
                                        </li>
                                        <li>
                                            - pdf (версия 1.3 (композитный), PDF/X­1a)
                                        </li>
                                        <li>
                                            - tiff (CMYK)
                                        </li>
                                    </ul>
                                    <h4>
                                        Размеры
                                    </h4>
                                    <p>
                                        Печатные файлы должны быть сверстаны строго в обрезной формат +2 мм с каждой
                                        стороны под обрез в 100% масштабе. Недопустимо наличие контрольных шкал,
                                        обрезных меток и иной технической информации.
                                    </p>
                                    <p>
                                        Точность размеров макета - 1 мм, округление до целых.
                                    </p>
                                    <p>
                                        Все значимые элементы (логотипы, текст и т.д.) должны находиться не ближе 4 мм к
                                        линиям реза, биговки, фальцовки, перфорации и т.д.
                                    </p>
                                    <h4>
                                        Растровая графика принимаются в форматах:
                                    </h4>
                                    <ul>
                                        <li>
                                            - TIFF CMYK для полноцветной печати
                                        </li>
                                        <li>
                                            - TIFF GRAYSCALE для монохромной (одноцветной печати)
                                        </li>
                                        <li>
                                            - TIFF BITMAP для штриховой печати
                                        </li>
                                    </ul>
                                    <h4> Рекомендуемое разрешение для растровых изображений:</h4>
                                    <ul>
                                        <li>
                                            - CMYK/GRAYSCALE — 300dpi
                                        </li>
                                        <li>
                                            - BITMAP - 1200dpi
                                        </li>
                                    </ul>



                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>