{{#extend "layout"}}
{{#content "main"}}

<section class="case-intro">
    <div class="container">
        <img src="img/case-intro-image.jpg" alt="" class="case-intro__image">
        <div class="case-intro__info">
            <a href="#" class="case-intro__back-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow-straight">
                    <use xlink:href="#breadcrumbs-arrow-straight"></use>
                </svg>
                к портфолио
            </a>
            <h1 class="case-intro__main-heading">
                Сопровождение BILER
                FORUM&nbsp;2018
            </h1>
            <div class="case-intro__tags">
                <a href="#" class="case-intro__tag">
                    #Дизайн
                </a>
                <a href="#" class="case-intro__tag">
                    #Мерч
                </a>
            </div>
        </div>

    </div>
</section>


<section class="case-task">
    <div class="container">

        <div class="case-task__row">


            <svg width="14" height="14" aria-hidden="true" class="icon-star case-task__star">
                <use xlink:href="#star"></use>
            </svg>
            <div class="case-task__info">
                <h2 class="case-task__heading">
                    Задача
                </h2>
                <div class="case-task__description">
                    <p>
                        Задизайнить дружелюбную айдентику Специальной Олимпиады. Основная цель движения — при помощи
                        спорта помочь людям с ментальными особенностями стать полноправными членами общества, создать
                        для них по-настоящему инклюзивный мир и предоставить равные возможности для демонстрации навыков
                        и талантов.
                    </p>
                </div>
            </div>
            <div class="case-task__client">
                <div class="case-task__client-image-container">
                    <img src="img/case-client.jpg" alt="" class="case-task__client-image">

                </div>
                <div class="case-task__client-content">
                    <div class="case-task__client-info">
                        <div class="case-task__client-info-card">
                            <h4 class="case-task__client-info-card-title">
                                год
                            </h4>
                            <div class="case-task__client-info-card-description">
                                2021
                            </div>
                        </div>
                        <div class="case-task__client-info-card">
                            <h4 class="case-task__client-info-card-title">
                                клиент
                            </h4>
                            <div class="case-task__client-info-card-description">
                                Билер форум
                            </div>
                        </div>
                    </div>
                    <div class="case-task__client-tags">
                        <a href="#" class="case-task__client-tag">
                            Наклейки,стикеры
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Сувенирная продукция
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Пакеты
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Плакаты, афишы
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Значки
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Футболки
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Ролл-апстенды
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Блокноты
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Грамоты и дипломы
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Айдентика
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Логотип
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Фирменный стиль
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Культура
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="case-images">
    <div class="container">
        <figure class="case-images__figure">
            <img src="img/case/image-1.jpg" alt="" class="case-images__image">

        </figure>
        <figure class="case-images__figure">
            <img src="img/case/image-2.jpg" alt="" class="case-images__image">
            <figcaption class="case-images__figcaption">На основе характерного окраса Зиланта создан линейный паттерн.
                Таким образом талисман присутствует на соревнованиях, даже когда он не изображен буквально</figcaption>
        </figure>
    </div>

</section>


<section class="case-images-slider">
    <div class="container">
        <div class="case-images-slider__wrapper js-case-image-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="case-images-slider__card">
                            <img data-src="img/case/case-slider-image.jpg" alt=""
                                class="case-images-slider__card-image lazyload">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="case-images-slider__card">
                            <img data-src="img/case/case-slider-image.jpg" alt=""
                                class="case-images-slider__card-image lazyload">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="case-images-slider__card">
                            <img data-src="img/case/case-slider-image.jpg" alt=""
                                class="case-images-slider__card-image lazyload">
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-images-slider__arrows">
                <button class="case-images-slider__arrow case-images-slider__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#small-arrow-left"></use>
                    </svg>
                </button>
                <button class="case-images-slider__arrow case-images-slider__arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#small-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>


<section class="case-quote">
    <div class="container">
        <div class="case-quote__row">
            <div class="case-quote__circles">
                <svg width="14" height="14" aria-hidden="true" class="icon-double-circles">
                    <use xlink:href="#double-circles"></use>
                </svg>

            </div>
            <blockquote class="case-quote__card">
                <div class="case-quote__card-content">
                    <h3>
                        Три мотива в основе знака
                    </h3>
                    <p>
                        В основе знака лежат три мотива: Зилант — татарское мифологическое существо и символ Казани,
                        стилизованный тюльпан — один из символов Татарстана, а также образ речных просторов Волги, на
                        берегу которой стоит Казань.
                    </p>
                </div>
                <div class="case-quote__card-author">
                    <div class="case-quote__card-author-image-container">
                        <img src="img/case/quote-author.jpg" alt="" class="case-quote__card-author-image">
                    </div>
                    <div class="case-quote__card-author-content">
                        <h4 class="case-quote__card-author-title">
                            Спиридонов Алексей
                        </h4>
                        <div class="case-quote__card-author-text">
                            Арт-директор, imagestudio
                        </div>
                    </div>

                </div>
            </blockquote>
        </div>
    </div>
</section>

<section class="case-variants">
    <div class="container">
        <ul class="case-variants__list">
            <li class="case-variants__list-item">
                <div class="case-variants__card">
                    <div class="case-variants__card-image-container">


                        <img data-src="img/case-variants/1.jpg" alt="" class="case-variants__card-image lazyload">
                    </div>
                    <h4 class="case-variants__card-title">
                        вариант 1
                    </h4>
                    <div class="case-variants__card-text">
                        <p>
                            На основе характерного окраса Зиланта создан линейный паттерн. Таким образом талисман
                            присутствует на соревнованиях, даже когда он не изображен буквально.
                        </p>
                    </div>
                </div>

            </li>
            <li class="case-variants__list-item">
                <div class="case-variants__card">
                    <div class="case-variants__card-image-container">
                        <img data-src="img/case-variants/2.jpg" alt="" class="case-variants__card-image lazyload">
                    </div>
                    <h4 class="case-variants__card-title">
                        вариант 2
                    </h4>
                    <div class="case-variants__card-text">
                        <p>
                            На основе характерного окраса Зиланта создан линейный паттерн. Таким образом талисман
                            присутствует на соревнованиях, даже когда он не изображен буквально.
                        </p>
                    </div>
                </div>

            </li>
            <li class="case-variants__list-item">
                <div class="case-variants__card">
                    <div class="case-variants__card-image-container">
                        <img data-src="img/case-variants/3.jpg" alt="" class="case-variants__card-image lazyload">
                    </div>
                    <h4 class="case-variants__card-title">
                        Вариант 3
                    </h4>
                    <div class="case-variants__card-text">
                        <p>
                            На основе характерного окраса Зиланта создан линейный паттерн. Таким образом талисман
                            присутствует на соревнованиях, даже когда он не изображен буквально.
                        </p>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</section>

<section class="case-images">
    <div class="container">
        <figure class="case-images__figure">
            <img src="img/case/image-3.jpg" alt="" class="case-images__image">

        </figure>

    </div>

</section>

<section class="case-info">
    <div class="container">
        <div class="case-info__row">
            <svg width="14" height="14" aria-hidden="true" class="icon-spring">
                <use xlink:href="#spring"></use>
            </svg>
            <div class="case-info__content">
                <h3 class="case-info__heading">
                    Знак
                </h3>
                <div class="case-info__text">
                    <p>
                        История Специального Олимпийского движения началась в 1968 году в Чикаго. Основная цель движения
                        — при помощи спорта помочь людям с ментальными особенностями стать полноправными членами
                        общества, создать для них по-настоящему инклюзивный мир и предоставить равные возможности для
                        демонстрации навыков и талантов.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="case-variants">
    <div class="container">
        <ul class="case-variants__list case-variants__list--two-col">
            <li class="case-variants__list-item">
                <div class="case-variants__card">
                    <div class="case-variants__card-image-container">


                        <img data-src="img/case-variants/4.jpg" alt="" class="case-variants__card-image lazyload">
                    </div>
                    <h4 class="case-variants__card-title">
                        вариант 1
                    </h4>
                    <div class="case-variants__card-text">
                        <p>
                            На основе характерного окраса Зиланта создан линейный паттерн. Таким образом талисман
                            присутствует на соревнованиях, даже когда он не изображен буквально.
                        </p>
                    </div>
                </div>

            </li>
            <li class="case-variants__list-item">
                <div class="case-variants__card">
                    <div class="case-variants__card-image-container">
                        <img data-src="img/case-variants/5.jpg" alt="" class="case-variants__card-image lazyload">
                    </div>
                    <h4 class="case-variants__card-title">
                        вариант 2
                    </h4>
                    <div class="case-variants__card-text">
                        <p>
                            На основе характерного окраса Зиланта создан линейный паттерн. Таким образом талисман
                            присутствует на соревнованиях, даже когда он не изображен буквально.
                        </p>
                    </div>
                </div>

            </li>

        </ul>
    </div>
</section>


<section class="case-video">
    <div class="container">
        <a href="https://www.youtube.com/watch?v=comQ1-x2a1Q&t=9135s&ab_channel=freeCodeCamp.org"
            class="case-video__wrapper" data-fancybox>
            <img src="img/case-video.jpg" alt="" class="case-video__preview">
            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                <use xlink:href="#play"></use>
            </svg>
        </a>
    </div>
</section>


<section class="case-quote">
    <div class="container">
        <div class="case-quote__row">
            <div class="case-quote__circles">


                <svg width="14" height="14" aria-hidden="true" class="icon-double-circles">
                    <use xlink:href="#double-circles"></use>
                </svg>
                <div class="case-quote__type">
                    отзыв
                </div>
            </div>
            <blockquote class="case-quote__card">
                <div class="case-quote__card-content case-quote__card-content--with-quotes">
                    <h3>
                        Командой было предложено оригинальное и смелое решение
                    </h3>
                    <p>
                        Обратились в Imagestudio для создания нового фирменного стиля для кофейни COFFESSION. Командой
                        было предложено оригинальное и смелое решение. В итоге, айдентика получилась стильная,
                        современная, броская и запоминающаяся! Благодарим за отличную работу!
                    </p>
                </div>
                <div class="case-quote__card-author">
                    <div class="case-quote__card-author-image-container">
                        <img src="img/author-1.jpg" alt="" class="case-quote__card-author-image">
                    </div>
                    <div class="case-quote__card-author-content">
                        <h4 class="case-quote__card-author-title">
                            Валерия Дуброва
                        </h4>
                        <div class="case-quote__card-author-text">
                            Генеральный директор, АНО «Дирекция спортивных и социальных проектов»
                        </div>
                    </div>

                </div>
            </blockquote>
        </div>
    </div>
</section>


<section class="case-team">
    <div class="container">
        <div class="case-team__row">
            <h2 class="case-team__heading">
                команда проекта
            </h2>
            <div class="case-team__content">
                <ul class="case-team__list">
                    <li class="case-team__list-item">
                        <div class="case-team__card">
                            <h3 class="case-team__card-title">
                                Арт-директор
                            </h3>
                            <div class="case-team__card-name">
                                Егор Жгун
                            </div>
                        </div>
                    </li>
                    <li class="case-team__list-item">
                        <div class="case-team__card">
                            <h3 class="case-team__card-title">
                                Дизайнеры
                            </h3>
                            <div class="case-team__card-name">
                                Игорь Горелышев<br>
                                Валерий Толчанов
                            </div>
                        </div>
                    </li>
                    <li class="case-team__list-item">
                        <div class="case-team__card">
                            <h3 class="case-team__card-title">
                                Менеджер
                            </h3>
                            <div class="case-team__card-name">
                                Катерина Конева
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="inline-form">
    <div class="container">
        <div class="inline-form__row">
            <svg width="14" height="14" aria-hidden="true" class="icon-star inline-form__star">
                <use xlink:href="#star"></use>
            </svg>
            <div class="inline-form__content">
                <h2 class="inline-form__heading">
                    хочу такой&nbsp;же проект
                </h2>
                <form action="/" method="POST" class="inline-form__form" data-need-validation>
                    <div class="inline-form__form-fields">
                        <div class="contact-form__field">
                            <input type="text" name="name" class="contact-form__input" required placeholder="имя *">
                        </div>
                        <div class="contact-form__field">
                            <input type="text" name="company" class="contact-form__input" placeholder="компания">
                        </div>
                        <div class="contact-form__field">
                            <input type="tel" name="phone" class="contact-form__input js-phone-input" required
                                data-parsley-phone="" placeholder="телефон *">
                            <div class="contact-form__remark">
                                * — Обязательные для заполнения поля
                            </div>

                        </div>

                        <div class="contact-form__field">
                            <input type="email" name="email" class="contact-form__input" placeholder="e-mail">
                        </div>
                        <div class="contact-form__field contact-form__field--centered">
                            <div class="contact-form__file-upload js-contact-form-file-upload"
                                data-loaded-text="заменить файл">
                                <label class="contact-form__file-upload-dropzone">
                                    <input type="file" name="file" class="contact-form__file-upload-input">
                                    <div class="contact-form__file-upload-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-paper-clip">
                                            <use xlink:href="#paper-clip"></use>
                                        </svg>
                                    </div>
                                    <div class="contact-form__file-upload-text">
                                        прикрепить файл
                                    </div>
                                </label>

                            </div>
                        </div>

                        <div class="contact-form__field">
                            <textarea name="comment" class="contact-form__input" placeholder="комментарий"></textarea>
                        </div>
                        <div class="inline-form__form-controls">
                            <label class="contact-form__policy-checkbox">
                                <input type="checkbox" name="policy" value="1"
                                    class="contact-form__policy-checkbox-input" required checked>
                                <span class="contact-form__policy-checkbox-mark">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="contact-form__policy-checkbox-text">
                                    согласен с <a href="#">
                                        политикой<br> конфиденциальности
                                    </a>
                                </span>
                            </label>
                            <button type="submit" class="btn btn--large btn--white inline-form__submit"
                                data-text="отправить заявку">
                                <span class="btn__inner-text">
                                    отправить заявку
                                </span>

                            </button>
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>
</section>

<section class="case-next">
    <div class="container">
        <div class="case-next__row">
            <div class="case-next__left-col">
                <a href="#" class="case-intro__back-link case-next__back-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow-straight">
                        <use xlink:href="#breadcrumbs-arrow-straight"></use>
                    </svg>
                    к портфолио
                </a>
                <h2 class="case-next__heading">
                    следующий кейс
                </h2>
            </div>
            <div class="case-next__right-col">
                <div class="case-next__card">
                    <div class="case-next__card-image-container">
                        <img src="img/case-next.jpg" alt="" class="case-next__card-image">
                        <div class="case-next__tags">
                            <div class="case-next__tag">
                                еда
                            </div>
                            <div class="case-next__tag">
                                бренд
                            </div>
                        </div>
                    </div>
                    <div class="case-next__card-info">
                        <h4 class="case-next__card-title">
                            Фонд Пространственных<br> Данных Республики Татарстан
                        </h4>
                        <a href="#" class="case-next__card-link">
                            смотреть
                            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow-straight">
                                <use xlink:href="#breadcrumbs-arrow-straight"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{/content}}
{{/extend}}