{{#extend "layout"}}
{{#content "main"}}

<section class="case-intro">
    <div class="container">
        <img src="img/case-intro-image.jpg" alt="" class="case-intro__image">
        <div class="case-intro__info">
            <a href="#" class="case-intro__back-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow-straight">
                    <use xlink:href="#breadcrumbs-arrow-straight"></use>
                </svg>
                к портфолио
            </a>
            <h1 class="case-intro__main-heading">
                Сопровождение BILER
                FORUM&nbsp;2018
            </h1>
            <div class="case-intro__tags">
                <a href="#" class="case-intro__tag">
                    #Дизайн
                </a>
                <a href="#" class="case-intro__tag">
                    #Мерч
                </a>
            </div>
        </div>

    </div>
</section>


<section class="case-task">
    <div class="container">

        <div class="case-task__row">


            <svg width="14" height="14" aria-hidden="true" class="icon-star case-task__star">
                <use xlink:href="#star"></use>
            </svg>
            <div class="case-task__info">
                <h2 class="case-task__heading">
                    Задача
                </h2>
                <div class="case-task__description">
                    <p>
                        Задизайнить дружелюбную айдентику Специальной Олимпиады. Основная цель движения — при помощи
                        спорта помочь людям с ментальными особенностями стать полноправными членами общества, создать
                        для них по-настоящему инклюзивный мир и предоставить равные возможности для демонстрации навыков
                        и талантов.
                    </p>
                </div>
            </div>
            <div class="case-task__client">
                <div class="case-task__client-image-container">
                    <img src="img/case-client.jpg" alt="" class="case-task__client-image">

                </div>
                <div class="case-task__client-content">
                    <div class="case-task__client-info">
                        <div class="case-task__client-info-card">
                            <h4 class="case-task__client-info-card-title">
                                год
                            </h4>
                            <div class="case-task__client-info-card-description">
                                2021
                            </div>
                        </div>
                        <div class="case-task__client-info-card">
                            <h4 class="case-task__client-info-card-title">
                                клиент
                            </h4>
                            <div class="case-task__client-info-card-description">
                                Билер форум
                            </div>
                        </div>
                    </div>
                    <div class="case-task__client-tags">
                        <a href="#" class="case-task__client-tag">
                            Наклейки,стикеры
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Сувенирная продукция
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Пакеты
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Плакаты, афишы
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Значки
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Футболки
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Ролл-апстенды
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Блокноты
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Грамоты и дипломы
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Айдентика
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Логотип
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Фирменный стиль
                        </a>
                        <a href="#" class="case-task__client-tag">
                            Культура
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="case-images">
    <div class="container">
        <figure class="case-images__figure">
            <img src="img/case/image-1.jpg" alt="" class="case-images__image">

        </figure>
        <figure class="case-images__figure">
            <img src="img/case/image-2.jpg" alt="" class="case-images__image">
            <figcaption class="case-images__figcaption">На основе характерного окраса Зиланта создан линейный паттерн.
                Таким образом талисман присутствует на соревнованиях, даже когда он не изображен буквально</figcaption>
        </figure>
    </div>

</section>


<section class="case-images-slider">
    <div class="container">
        <div class="case-images-slider__wrapper js-case-image-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="case-images-slider__card">
                            <img src="img/case/case-slider-image.jpg" alt="" class="case-images-slider__card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="case-images-slider__card">
                            <img src="img/case/case-slider-image.jpg" alt="" class="case-images-slider__card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="case-images-slider__card">
                            <img src="img/case/case-slider-image.jpg" alt="" class="case-images-slider__card-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-images-slider__arrows">
                <button class="case-images-slider__arrow case-images-slider__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#small-arrow-left"></use>
                    </svg>
                </button>
                <button class="case-images-slider__arrow case-images-slider__arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#small-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>


<section class="case-quote">
    <div class="container">
        <div class="case-quote__row">
            <svg width="14" height="14" aria-hidden="true" class="icon-double-circles">
                <use xlink:href="#double-circles"></use>
            </svg>
            <blockquote class="case-quote__card">
                <div class="case-quote__card-content">
                    <h3>
                        Три мотива в основе знака
                    </h3>
                    <p>
                        В основе знака лежат три мотива: Зилант — татарское мифологическое существо и символ Казани,
                        стилизованный тюльпан — один из символов Татарстана, а также образ речных просторов Волги, на
                        берегу которой стоит Казань.
                    </p>
                </div>
                <div class="case-quote__card-author">
                    <div class="case-quote__card-author-image-container">
                        <img src="img/case/quote-author.jpg" alt="" class="case-quote__card-author-image">
                    </div>
                    <div class="case-quote__card-author-content">
                        <h4 class="case-quote__card-author-title">
                            Спиридонов Алексей
                        </h4>
                        <div class="case-quote__card-author-text">
                            Арт-директор, imagestudio
                        </div>
                    </div>

                </div>
            </blockquote>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}