{{#extend "layout"}}
{{#content "main"}}

<section class="delivery-intro">
    <div class="container">
        <div class="delivery-intro__row">
            <h1 class="delivery-intro__heading">
                доставка и оплата
            </h1>
            <div class="delivery-intro__text">
                <p>
                    оперативно доставим заказ в любую точку России (и не только) с учетом ваших пожеланий
                </p>
            </div>
        </div>
    </div>
</section>


<section class="delivery-ways js-move-up-block">
    <div class="container">
        <div class="delivery-ways__row">
            <h2 class="section-label section-label--dark delivery-ways__heading">
                способ доставки
            </h2>
            <div class="delivery-ways__content">
                <div class="delivery-ways__card">
                    <h3 class="delivery-ways__card-title">
                        Бесплатная доставка по Казани собственной курьерской службой
                    </h3>
                    <div class="delivery-ways__card-text">
                        <p>
                            Для жителей Казани заказы доставляет собственная курьерская служба. Курьер подъедит в
                            удобное для вас время.
                            Бесплатная доставка для заказов от 1 000 руб.
                        </p>
                    </div>
                </div>
                <div class="delivery-ways__card delivery-ways__card--variants">
                    <h3 class="delivery-ways__card-title">
                        Доставляем продукцию по всей России
                    </h3>
                    <div class="delivery-ways__card-text">
                        <p>
                            Для жителей Казани заказы доставляет собственная курьерская служба. Курьер подъедит в
                            удобное для вас время.
                            Бесплатная доставка для заказов от 1 000 руб.
                        </p>
                    </div>
                    <div class="delivery-ways__card-companies">
                        <a href="#" class="delivery-ways__card-company">
                            <img src="img/deliver/1.png" alt="" class="delivery-ways__card-company-logo">
                        </a>
                        <a href="#" class="delivery-ways__card-company">
                            <img src="img/deliver/2.png" alt="" class="delivery-ways__card-company-logo">
                        </a>
                        <a href="#" class="delivery-ways__card-company">
                            <img src="img/deliver/3.png" alt="" class="delivery-ways__card-company-logo">
                        </a>
                        <a href="#" class="delivery-ways__card-company">
                            <img src="img/deliver/4.png" alt="" class="delivery-ways__card-company-logo">
                        </a>
                        <a href="#" class="delivery-ways__card-company">
                            <img src="img/deliver/5.png" alt="" class="delivery-ways__card-company-logo">
                        </a>
                    </div>
                    <img src="img/delivery-image.jpg" alt="" class="delivery-ways__card-image">
                </div>
                <div class="delivery-ways__card delivery-ways__card--self">
                    <div class="delivery-ways__card-content">
                        <h3 class="delivery-ways__card-title">
                            Самовывоз
                        </h3>
                        <div class="delivery-ways__card-text">
                            <p>
                                Вы можете забрать свой заказ самостоятельно по адресу
                            </p>
                        </div>
                    </div>
                    <div class="delivery-ways__card-map">
                        <svg width="14" height="14" aria-hidden="true" class="icon-location">
                            <use xlink:href="#location"></use>
                        </svg>
                        <div class="delivery-ways__card-map-address">
                            Республика Татарстан, г. Казань, ул. Г. Камала, д. 18
                        </div>


                        <a href="#" class="dot-link delivery-payment__card-link delivery-ways__card-map-show">
                            <span class="dot-link__text">
                                посмотреть на карте
                            </span>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="delivery-payment js-move-up-block">
    <div class="container">
        <div class="delivery-payment__row">
            <h2 class="section-label section-label--dark delivery-payment__heading">
                способ оплаты
            </h2>
            <div class="delivery-payment__content">
                <ul class="delivery-payment__list">
                    <li class="delivery-payment__list-item">
                        <div class="delivery-payment__card">
                            <img src="img/payment/1.svg" alt="" class="delivery-payment__card-icon">
                            <h3 class="delivery-payment__card-title">
                                Безналичный<br> расчет
                            </h3>
                            <div class="delivery-payment__card-text">
                                Для юридических лиц с выставлением счета на оплату.
                            </div>
                            <a href="#" class="dot-link delivery-payment__card-link">
                                <span class="dot-link__text">
                                    Скачать карту партнера
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="delivery-payment__list-item">
                        <div class="delivery-payment__card">
                            <img src="img/payment/2.png" alt="" class="delivery-payment__card-icon">
                            <h3 class="delivery-payment__card-title">
                                Электронные<br>платежи
                            </h3>
                            <div class="delivery-payment__card-text">
                                Оплата по QR-коду или через платежные системы
                            </div>
                            <div class="delivery-payment__card-systems">
                                <div class="delivery-payment__card-systems-card">
                                    <img src="img/payment-systems/1.png" alt=""
                                        class="delivery-payment__card-systems-card-icon">
                                </div>
                                <div class="delivery-payment__card-systems-card">
                                    <img src="img/payment-systems/2.png" alt=""
                                        class="delivery-payment__card-systems-card-icon">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="delivery-payment__list-item">
                        <div class="delivery-payment__card">
                            <img src="img/payment/3.png" alt="" class="delivery-payment__card-icon">
                            <h3 class="delivery-payment__card-title">
                                Оплата наличными
                            </h3>
                            <div class="delivery-payment__card-text">
                                Традиционный вариант оплаты для физических лиц при самовывозе или доставке курьером.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="faq">
    <div class="container">
        <h2 class="section-heading faq__heading">
            Часто задаваемые вопросы
        </h2>
        <div class="faq__row">
            <div class="faq__col">
                <div class="faq__accordion js-accordion">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Могу ли я оформить отсрочку платежа?

                        </div>
                        <div class="faq__accordion-btn-plus">

                        </div>

                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Мы очень ответственно подходим к контролю качества нашей продукции и максимально
                                заинтересованы в том, чтобы Вы остались довольны сотрудничеством с нами и рекомендовали
                                «Иллан Gifts» Вашим коллегам и партнерам.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__accordion js-accordion">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Какие условия возврата?

                        </div>
                        <div class="faq__accordion-btn-plus">

                        </div>

                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Мы очень ответственно подходим к контролю качества нашей продукции и максимально
                                заинтересованы в том, чтобы Вы остались довольны сотрудничеством с нами и рекомендовали
                                «Иллан Gifts» Вашим коллегам и партнерам.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__col">
                <div class="faq__accordion js-accordion">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Есть специальные условия для гос. компаний?

                        </div>
                        <div class="faq__accordion-btn-plus">

                        </div>

                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Мы очень ответственно подходим к контролю качества нашей продукции и максимально
                                заинтересованы в том, чтобы Вы остались довольны сотрудничеством с нами и рекомендовали
                                «Иллан Gifts» Вашим коллегам и партнерам.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__accordion js-accordion">
                    <div class="faq__accordion-btn js-accordion-btn">
                        <div class="faq__accordion-btn-text">
                            Какой минимальный тираж?

                        </div>
                        <div class="faq__accordion-btn-plus">

                        </div>

                    </div>
                    <div class="faq__accordion-content js-accordion-content">
                        <div class="faq__accordion-content-inner">
                            <p>
                                Мы очень ответственно подходим к контролю качества нашей продукции и максимально
                                заинтересованы в том, чтобы Вы остались довольны сотрудничеством с нами и рекомендовали
                                «Иллан Gifts» Вашим коллегам и партнерам.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="company-requisites">
    <div class="container">
        <div class="company-requisites__accordion js-accordion">


            <div class="company-requisites__btn">
                <img src="img/document.svg" alt="" class="company-requisites__btn-image">
                <h2 class="company-requisites__title">
                    Реквизиты компании
                </h2>
                <div class="company-requisites__btn-content">
                    <a href="#" class="company-requisites__btn-link js-accordion-btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                        <span class="company-requisites__btn-link-text">
                            Показать реквизиты
                        </span>
                        <span class="company-requisites__btn-link-text">
                            скрыть реквизиты
                        </span>

                    </a>

                    <a href="#" class="dot-link company-requisites__btn-partner-card">
                        <span class="dot-link__text">
                            Скачать карту партнера
                        </span>
                    </a>
                </div>
            </div>
            <div class="company-requisites__content js-accordion-content">
                <div class="company-requisites__content-inner">
                    <div class="company-requisites__table-wrapper">


                        <div class="company-requisites__table">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>
                                            Фактический адрес
                                        </th>
                                        <td>
                                            420021, РТ, г. Казань, ул. Галиаскара Камала, дом 18, офис 5
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            ИНН
                                        </th>
                                        <td>
                                            1655353785
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            ОГРН
                                        </th>
                                        <td>
                                            1161690078131
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            КПП
                                        </th>
                                        <td>
                                            165501001
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Р/сч
                                        </th>
                                        <td>
                                            4070 2810 8072 7000 5833
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            К/сч
                                        </th>
                                        <td>
                                            3010 1810 8452 5000 0999
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            БИК
                                        </th>
                                        <td>
                                            044525999
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Банк
                                        </th>
                                        <td>
                                            ТОЧКА ПАО БАНКА «ФК ОТКРЫТИЕ» г.Москва
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="lets-talk lets-talk--inner-star lets-talk--blue">
    <div class="container">
        <div class="lets-talk__row">
            <div class="lets-talk__card">
                <svg width="14" height="14" aria-hidden="true" class="icon-star lets-talk__star">
                    <use xlink:href="#star"></use>
                </svg>
                <div class="lets-talk__card-content">
                    <h2 class="lets-talk__card-heading">
                        Остались вопросы?
                    </h2>
                    <form action="/" method="POST">
                        <div class="lets-talk__form-row">
                            <div class="lets-talk__manager-text">
                                наш менеджер ответит<br> на все ваши вопросы
                            </div>
                            <div class="lets-talk__inputs-block">
                                <div class="lets-talk__input-wrapper">
                                    <input type="tel" name="phone" class="lets-talk__input js-phone-input" required
                                        placeholder="номер телефона">
                                    <button class="lets-talk__form-submit" type="submit">
                                        <span class="lets-talk__form-submit-text">
                                            отправить заявку
                                        </span>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-submit-arrow-right">
                                            <use xlink:href="#submit-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                                <label class="lets-talk__policy-checkbox">
                                    <input type="checkbox" name="policy" value="1"
                                        class="lets-talk__policy-checkbox-input" required checked>
                                    <span class="lets-talk__policy-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="lets-talk__policy-checkbox-text">
                                        согласен с
                                        политикой конфиденциальности
                                    </span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}