{{#extend "layout"}}
{{#content "main"}}


<section class="design-intro">
    <div class="container">
        <div class="design-intro__row">
            <h2 class="section-label section-label--dark design-intro__heading">
                Дизайн
            </h2>
            <div class="design-intro__content">
                <div class="design-intro__text">
                    <p>
                        Мы помогаем создавать бренды, которые любят. Разработка логотипов, фирменных стилей, дизайн
                        упаковки
                    </p>
                </div>
                <div class="design-intro__image-container">
                    {{!-- <img src="img/design-intro.jpg" alt=""> --}}

                    <video class="lazyload" muted="" data-autoplay="" loop playsinline preload="none">
                        <source src="assets/video/video.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="directions js-move-up-block">
    <div class="container">
        <div class="directions__row">
            <h2 class="directions__heading">
                Помогаем компаниями брендам обрести свое лицо
            </h2>
            <ul class="directions__list">
                <li class="directions__list-item">
                    <a href="#" class="directions__card">
                        <div class="directions__card-shape">
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-directions-1 directions__card-icon">
                                <use xlink:href="#directions-1"></use>
                            </svg>
                            <h4 class="directions__card-title">
                                Айдентика
                            </h4>
                        </div>
                        <div class="directions__card-bottom-content">
                            <div class="directions__card-tags">
                                <div class="directions__card-tag">
                                    Креативная концепция
                                </div>
                                <div class="directions__card-tag">
                                    Гайдлайн
                                </div>
                                <div class="directions__card-tag">
                                    Брендбук логотип
                                </div>
                                <div class="directions__card-tag">
                                    логотип
                                </div>
                                <div class="directions__card-tag">
                                    Фирменный стиль
                                </div>
                            </div>
                            <div class="directions__card-description-wrapper">


                                <div class="directions__card-description">
                                    <p>
                                        Создадим визуальный образ вашему бренду. Отразим основные ценности компании и
                                        поможем
                                        сформировать доверие
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="directions__list-item">
                    <a href="#" class="directions__card">
                        <div class="directions__card-shape">



                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-directions-2 directions__card-icon">
                                <use xlink:href="#directions-2"></use>
                            </svg>
                            <h4 class="directions__card-title">
                                Promo дизайн
                            </h4>
                        </div>
                        <div class="directions__card-bottom-content">
                            <div class="directions__card-tags">
                                <div class="directions__card-tag">
                                    Креативная концепция
                                </div>
                                <div class="directions__card-tag">
                                    сувенирная продукция
                                </div>

                            </div>
                            <div class="directions__card-description-wrapper">




                                <div class="directions__card-description">
                                    <p>
                                        Создадим визуальный образ вашему бренду. Отразим основные ценности компании и
                                        поможем
                                        сформировать доверие
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="directions__list-item">
                    <a href="#" class="directions__card">
                        <div class="directions__card-shape">
                            <svg width="14" height="14" aria-hidden="true"
                                class="icon-directions-3 directions__card-icon">
                                <use xlink:href="#directions-3"></use>
                            </svg>
                            <h4 class="directions__card-title">
                                Cопровождение<br>бренда
                            </h4>
                        </div>
                        <div class="directions__card-bottom-content">
                            <div class="directions__card-tags">
                                <div class="directions__card-tag">
                                    Авторский контроль
                                </div>
                                <div class="directions__card-tag">
                                    консультация
                                </div>
                                <div class="directions__card-tag">
                                    Аудит
                                </div>
                                <div class="directions__card-tag">
                                    Абонентское обслуживание
                                </div>
                                <div class="directions__card-tag">
                                    Оформление социальных сетей
                                </div>

                            </div>
                            <div class="directions__card-description-wrapper">


                                <div class="directions__card-description">
                                    <p>
                                        Создадим визуальный образ вашему бренду. Отразим основные ценности компании и
                                        поможем
                                        сформировать доверие
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="projects js-move-up-block js-projects" data-loading-url="design.html"
    data-loaded-text="Перейти в портфолио">
    <div class="container">
        <div class="projects__top-row">
            <h2 class="projects__heading">
                Делаем красиво
            </h2>
            <a href="#" class="dot-link projects__link">
                <span class="dot-link__text">
                    смотреть все работы
                </span>
            </a>
        </div>
        <ul class="projects__grid">
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/1.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/2.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item projects__grid-item--large">
                <div class="projects__grid-card">
                    <div class="projects__grid-card-slider js-projects-card-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/3.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/11.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/8.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projects__grid-card-info">
                        <h4 class="projects__grid-card-title">
                            Концепт торговой марки «Дом бобов»
                            <svg width="14" height="14" aria-hidden="true" class="icon-projects-slider-arrow-right">
                                <use xlink:href="#projects-slider-arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="projects__grid-card-show-case">
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#eye"></use>
                            </svg>
                            Смотреть кейс
                        </div>
                    </div>

                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/4.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/5.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/6.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/7.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item projects__grid-item--large">

                <div class="projects__grid-card">
                    <div class="projects__grid-card-slider js-projects-card-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/8.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/11.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/3.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projects__grid-card-info">
                        <h4 class="projects__grid-card-title">
                            Логотип компании ӨCH!
                            <svg width="14" height="14" aria-hidden="true" class="icon-projects-slider-arrow-right">
                                <use xlink:href="#projects-slider-arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="projects__grid-card-show-case">
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#eye"></use>
                            </svg>
                            Смотреть кейс
                        </div>
                    </div>

                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/9.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>

            <li class="projects__grid-item projects__grid-item--large">



                <div class="projects__grid-card">
                    <div class="projects__grid-card-slider js-projects-card-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/11.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/8.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/3.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projects__grid-card-info">
                        <h4 class="projects__grid-card-title">
                            Концепт торговой марки «Дом бобов»
                            <svg width="14" height="14" aria-hidden="true" class="icon-projects-slider-arrow-right">
                                <use xlink:href="#projects-slider-arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="projects__grid-card-show-case">
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#eye"></use>
                            </svg>
                            Смотреть кейс
                        </div>
                    </div>

                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/10.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
        </ul>
        <a href="#" class="projects__load-more">
            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                <use xlink:href="#arrow-down"></use>
            </svg>
            <div class="projects__load-more-text">
                показать больше работ
            </div>

        </a>
    </div>
</section>

<section class="choose-solution js-choose-solution js-move-up-block">
    <div class="container">
        <div class="section-heading choose-solution__heading">
            <h2 class="choose-solution__heading-main">
                Выберите решение
            </h2>
            <div class="choose-solution__heading-text">
                <p>
                    У нас есть 3 пакета стоимости услуг.<br> Выбирайте тот,&nbsp;который больше подходит Вам.
                </p>
            </div>
        </div>
        <div class="choose-solution__cards">
            <ul class="choose-solution__cards-list">
                <li class="choose-solution__cards-list-item">
                    <a href="#" class="choose-solution__card">
                        <div class="choose-solution__card-label">
                            <svg width="14" height="14" aria-hidden="true" class="icon-fire">
                                <use xlink:href="#fire"></use>
                            </svg>
                            хит
                        </div>
                        <div class="choose-solution__card-package-heading">
                            <h4 class="choose-solution__card-package-name">
                                Пакет S
                            </h4>
                            <div class="choose-solution__card-package-price">
                                35 000 ₽
                            </div>

                        </div>
                        <div class="choose-solution__card-description">
                            <p>
                                Необходимый минимум для успешного старта проекта
                            </p>
                        </div>
                        <div class="choose-solution__card-components">
                            <div class="choose-solution__card-components-heading">
                                В тариф входит:
                            </div>
                            <ul class="choose-solution__card-components-list">
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    Логотип
                                </li>
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    шрифты
                                </li>
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    фирменный стиль
                                </li>
                            </ul>
                        </div>


                        <div class="choose-solution__card-btn" data-text="Выбрать пакет s">
                            <div class="choose-solution__card-btn-text">
                                Выбрать пакет s
                            </div>

                        </div>
                    </a>
                </li>
                <li class="choose-solution__cards-list-item">
                    <a href="#" class="choose-solution__card choose-solution__card--selected">
                        <div class="choose-solution__card-label" style="background-color: #45D042;">
                            <svg width="14" height="14" aria-hidden="true" class="icon-percent">
                                <use xlink:href="#percent"></use>
                            </svg>
                            акция
                        </div>
                        <div class="choose-solution__card-package-heading">
                            <h4 class="choose-solution__card-package-name">
                                Пакет M
                            </h4>
                            <div class="choose-solution__card-package-price">
                                45 000 ₽
                            </div>
                            <div class="choose-solution__card-package-old-price">
                                60 000 ₽
                            </div>
                        </div>
                        <div class="choose-solution__card-description">
                            <p>
                                Оптимальный набор, который поможет быстро запомниться и быть узнаваемыми
                            </p>
                        </div>
                        <div class="choose-solution__card-components">
                            <div class="choose-solution__card-components-heading">
                                В тариф входит:
                            </div>
                            <ul class="choose-solution__card-components-list">
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    Логотип
                                </li>
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    шрифты
                                </li>
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    фирменный стиль
                                </li>
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    Сувенирная продукция
                                </li>
                            </ul>
                        </div>




                        <div class="choose-solution__card-btn" data-text="Выбрать пакет m">
                            <div class="choose-solution__card-btn-text">
                                Выбрать пакет m
                            </div>

                        </div>
                    </a>
                </li>
                <li class="choose-solution__cards-list-item">
                    <a href="#" class="choose-solution__card">
                        <div class="choose-solution__card-label" style="background-color: #111111;">
                            <svg width="14" height="14" aria-hidden="true" class="icon-diamond">
                                <use xlink:href="#diamond"></use>
                            </svg>
                            полный пакет
                        </div>
                        <div class="choose-solution__card-package-heading">
                            <h4 class="choose-solution__card-package-name">
                                Пакет XL
                            </h4>
                            <div class="choose-solution__card-package-price">
                                100 000 ₽
                            </div>

                        </div>
                        <div class="choose-solution__card-description">
                            <p>
                                Максимальная упаковка, с возможностями временного применения и гайдлайнами
                            </p>
                        </div>
                        <div class="choose-solution__card-components">
                            <div class="choose-solution__card-components-heading">
                                В тариф входит:
                            </div>
                            <ul class="choose-solution__card-components-list">
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    Логотип
                                </li>
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    шрифты
                                </li>
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    фирменный стиль
                                </li>
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    Сувенирная продукция
                                </li>
                                <li class="choose-solution__card-components-list-item">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark-bold"></use>
                                    </svg>
                                    Концепция бренда
                                </li>
                            </ul>
                        </div>




                        <div class="choose-solution__card-btn" data-text="Выбрать пакет xl">
                            <div class="choose-solution__card-btn-text">
                                Выбрать пакет xl
                            </div>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>



<section class="how-we-work js-move-up-block">
    <div class="container">
        <h2 class="section-heading how-we-work__heading">
            Как мы работаем?
        </h2>

        <div class="how-we-work__slider js-how-we-work-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="how-we-work__slider-card">
                            <div class="how-we-work__slider-card-number">
                                01
                            </div>
                            <h4 class="how-we-work__slider-card-title">
                                оставьте заявку
                            </h4>
                            <div class="how-we-work__slider-card-text">
                                <p>
                                    Оставьте заявку через формы сайта или соберите заказв интернет-магазине.
                                </p>
                            </div>
                            <a href="#" class="dot-link">
                                <span class="dot-link__text">
                                    посмотреть способы оплаты
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="how-we-work__slider-card">
                            <div class="how-we-work__slider-card-number">
                                02
                            </div>
                            <h4 class="how-we-work__slider-card-title">
                                Обсудим ваш проект
                            </h4>
                            <div class="how-we-work__slider-card-text">
                                <p>
                                    Наша типография работаетпо системе предоплаты
                                </p>
                            </div>
                            <a href="#" class="dot-link">
                                <span class="dot-link__text">
                                    посмотреть способы оплаты
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="how-we-work__slider-card">
                            <div class="how-we-work__slider-card-number">
                                03
                            </div>
                            <h4 class="how-we-work__slider-card-title">
                                Оплата работы
                            </h4>
                            <div class="how-we-work__slider-card-text">
                                <p>
                                    Наша типография работает по системе предоплаты
                                </p>
                            </div>
                            <a href="#" class="dot-link">
                                <span class="dot-link__text">
                                    посмотреть способы оплаты
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="how-we-work__slider-card">
                            <div class="how-we-work__slider-card-number">
                                04
                            </div>
                            <h4 class="how-we-work__slider-card-title">
                                Передача материалов
                            </h4>
                            <div class="how-we-work__slider-card-text">
                                <p>
                                    Наша типография работает по системе предоплаты
                                </p>
                            </div>
                            <a href="#" class="dot-link">
                                <span class="dot-link__text">
                                    посмотреть способы оплаты
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="advantages js-advantages">
    <div class="container">
        <div class="advantages__row">
            <div class="advantages__star-wrapper">
                <div class="advantages__star-inner-wrapper">
                    <svg width="14" height="14" aria-hidden="true" class="icon-star advantages__star">
                        <use xlink:href="#star"></use>
                    </svg>
                </div>


            </div>
            <div class="advantages__content">
                <div class="advantages__top-text">
                    <p>
                        Доверьте дизайн профессионалам
                    </p>
                </div>
                <ul class="advantages__list">
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-number">
                                7+
                            </div>
                            <div class="advantages__card-text">
                                <p>
                                    лет занимаемся дизайном
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-number">
                                150+
                            </div>
                            <div class="advantages__card-text">
                                <p>
                                    логотипов отрисовали

                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-number">
                                100
                            </div>
                            <div class="advantages__card-text">
                                <p>
                                    брендов упаковали
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="reviews js-reviews-slider js-move-up-block">
    <div class="container">
        <div class="reviews__row">
            <h2 class="section-label section-label--dark reviews__heading">
                Отзывы
            </h2>

            <div class="reviews__slider-top-panel">
                <div class="reviews__slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="reviews__slider-progress">

                </div>
            </div>
        </div>
        <div class="reviews__row">
            <div class="reviews__slider">
                <div class="reviews__slider-row">
                    <div class="reviews__slider-thumbs">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__slider-main">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-1.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    СәЛәТ
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-2.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    Татнефть
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-1.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    СәЛәТ
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-2.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    Татнефть
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="lets-talk lets-talk--inner-star lets-talk--blue js-move-up-block">
    <div class="container">
        <div class="lets-talk__row">

            <div class="lets-talk__card">
                <svg width="14" height="14" aria-hidden="true" class="icon-star lets-talk__star">
                    <use xlink:href="#star"></use>
                </svg>
                <div class="lets-talk__card-content">
                    <h2 class="lets-talk__card-heading">
                        Давайте обсудим<br>
                        ваш проект
                    </h2>
                    <form action="/" method="POST">
                        <div class="lets-talk__form-row">
                            <div class="lets-talk__manager-text">
                                наш менеджер ответит<br> на все ваши вопросы
                            </div>
                            <div class="lets-talk__inputs-block">


                                <div class="lets-talk__input-wrapper">
                                    <input type="tel" name="phone" class="lets-talk__input js-phone-input" required
                                        placeholder="номер телефона">
                                    <button class="lets-talk__form-submit" type="submit">
                                        <span class="lets-talk__form-submit-text">
                                            отправить заявку
                                        </span>


                                        <svg width="14" height="14" aria-hidden="true" class="icon-submit-arrow-right">
                                            <use xlink:href="#submit-arrow-right"></use>
                                        </svg>
                                    </button>

                                </div>
                                <label class="lets-talk__policy-checkbox">
                                    <input type="checkbox" name="policy" value="1"
                                        class="lets-talk__policy-checkbox-input" required checked>
                                    <span class="lets-talk__policy-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="lets-talk__policy-checkbox-text">
                                        согласен с
                                        политикой конфиденциальности

                                    </span>
                                </label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}