{{#extend "layout"}}
{{#content "main"}}


<section class="intro js-intro">
    <div class="container">
        <div class="intro__row">
            <div class="intro__col">
                <h1 class="intro__main-heading">
                    Делаем дизайн,<br> производим сувениры<br>
                    и печатную продукцию
                </h1>
                <div class="intro__bottom-row">
                    <div class="intro__slogan">
                        <p>
                            решения через<br> качество и надежность
                        </p>
                    </div>
                    <div class="intro__text-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="intro__text-slider-card">
                                        <div class="intro__text-slider-card-label">
                                            акция
                                        </div>
                                        <h4 class="intro__text-slider-card-title">
                                            Готовые подарочные наборы к 8 марта
                                        </h4>
                                        <div class="intro__text-slider-card-text-content">
                                            Акция 2=3 на подарочные наборы к 8 марта. Широкий выборпо доступным ценам
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="intro__text-slider-card">
                                        <div class="intro__text-slider-card-label">
                                            акция
                                        </div>
                                        <h4 class="intro__text-slider-card-title">
                                            Готовые подарочные наборы к 8 марта
                                        </h4>
                                        <div class="intro__text-slider-card-text-content">
                                            Акция 2=3 на подарочные наборы к 8 марта. Широкий выборпо доступным ценам
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro__col">
                <div class="intro__main-slider-wrapper">
                    <div class="intro__main-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="intro__main-slider-card">
                                        <img src="img/main-slider-1.jpg" alt="" class="intro__main-slider-card-image">
                                        <div class="intro__main-slider-card-action">
                                            заказать
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="intro__main-slider-card">
                                        <img src="img/main-slider-2.jpg" alt="" class="intro__main-slider-card-image">
                                        <div class="intro__main-slider-card-action">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                            Смотреть кейс
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="intro__main-slider-bullets">
                        <div class="intro__main-slider-bullet">

                        </div>
                        <div class="intro__main-slider-bullet">

                        </div>
                    </div>
                    <div class="intro__main-slider-arrows">
                        <button class="intro__main-slider-arrow intro__main-slider-arrow--prev">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
                                <circle cx="22.5" cy="22.5" r="21.5" fill="none" stroke-width="2" stroke="#B8B8B8" />
                                <circle cx="22.5" cy="22.5" r="21.5" fill="none" stroke-width="2" stroke="#B8B8B8" />
                                <path fill="#B8B8B8"
                                    d="M24.76,26.58l-3.27-3.52,3.27-3.52a.87.87,0,0,0,0-1.17.79.79,0,0,0-.59-.26h0a.8.8,0,0,0-.59.26l-3.81,4.1a.86.86,0,0,0-.23.59.82.82,0,0,0,.23.58l3.81,4.11a.8.8,0,0,0,.59.26.85.85,0,0,0,.6-.26A.87.87,0,0,0,24.76,26.58Z" />
                            </svg>
                        </button>
                        <button class="intro__main-slider-arrow intro__main-slider-arrow--next">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
                                <circle cx="22.5" cy="22.5" r="21.5" fill="none" stroke-width="2" stroke="#B8B8B8" />
                                <circle cx="22.5" cy="22.5" r="21.5" fill="none" stroke-width="2" stroke="#B8B8B8" />

                                <path fill="#B8B8B8"
                                    d="M20.24,18.42l3.27,3.52-3.27,3.52a.87.87,0,0,0,0,1.17.79.79,0,0,0,.59.26h0a.8.8,0,0,0,.59-.26l3.81-4.1a.86.86,0,0,0,.23-.59.82.82,0,0,0-.23-.58l-3.81-4.11a.8.8,0,0,0-.59-.26.85.85,0,0,0-.6.26A.87.87,0,0,0,20.24,18.42Z" />

                            </svg>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="services js-services">
    <div class="container">
        <h2 class="section-heading services__heading">
            решения через качество <br>и&nbsp;надежность
        </h2>
        <div class="services__row">
            <ol class="services__nav-list">
                <li class="services__nav-list-item">
                    <a href="#" class="services__nav-link">Мерч для вашей<br> компании</a>
                </li>
                <li class="services__nav-list-item">
                    <a href="#" class="services__nav-link">Весь спектр сувенирной<br> продукции</a>
                </li>
                <li class="services__nav-list-item">
                    <a href="#" class="services__nav-link">Оформление мероприятий<br> под ключ</a>
                </li>
                <li class="services__nav-list-item">
                    <a href="#" class="services__nav-link">Создание айдентики </a>
                </li>
                <li class="services__nav-list-item">
                    <a href="#" class="services__nav-link">Welcome Box для<br>
                        сотрудников </a>
                </li>


            </ol>
            <div class="services__slider">
                <div class="services__slider-content">
                    <div class="services__slider-images">
                        <div class="services__slider-image-layer">
                            <img src="img/services-slider-1.jpg" alt="" class="services__slider-image">
                        </div>
                        <div class="services__slider-image-layer">
                            <img src="img/services-slider-2.jpg" alt="" class="services__slider-image">
                        </div>
                        <div class="services__slider-image-layer">
                            <img src="img/services-slider-1.jpg" alt="" class="services__slider-image">
                        </div>
                        <div class="services__slider-image-layer">
                            <img src="img/services-slider-2.jpg" alt="" class="services__slider-image">
                        </div>
                        <div class="services__slider-image-layer">
                            <img src="img/services-slider-1.jpg" alt="" class="services__slider-image">
                        </div>
                    </div>
                    <div class="services__slider-text">
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                Мерч для людей,<br> а не для галочки
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Создаем стильныйи функциональный мерч, который сотрудники и клиенты захотят носитьне
                                    только на дачу ;)
                                </p>
                            </div>
                            <a href="#" class="btn services__slider-text-btn" data-text="Заказать мерч">
                                <span class="btn__inner-text">
                                    Заказать мерч
                                </span>

                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                Сформируем<br> ваш image
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    знаем, как оформить мероприятие от логотипа и айдентики до ручек и больших баннеров
                                </p>
                            </div>
                            <a href="#" class="btn services__slider-text-btn" data-text="Заказать мерч">
                                <span class="btn__inner-text">
                                    Заказать мерч
                                </span>

                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                Мерч для людей,<br> а не для галочки
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Создаем стильныйи функциональный мерч, который сотрудники и клиенты захотят носитьне
                                    только на дачу ;)
                                </p>
                            </div>
                            <a href="#" class="btn services__slider-text-btn" data-text="Заказать мерч">
                                <span class="btn__inner-text">
                                    Заказать мерч
                                </span>

                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                Сформируем<br> ваш image
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    знаем, как оформить мероприятие от логотипа и айдентики до ручек и больших баннеров
                                </p>
                            </div>
                            <a href="#" class="btn services__slider-text-btn" data-text="Заказать мерч">
                                <span class="btn__inner-text">
                                    Заказать мерч
                                </span>

                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                Мерч для людей,<br> а не для галочки
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Создаем стильныйи функциональный мерч, который сотрудники и клиенты захотят носитьне
                                    только на дачу ;)
                                </p>
                            </div>
                            <a href="#" class="btn services__slider-text-btn" data-text="Заказать мерч">
                                <span class="btn__inner-text">
                                    Заказать мерч
                                </span>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cycle">
    <div class="container">
        <div class="cycle__text">

            <p>
            <div class="cycle__arrow">

            </div>
            у нас Полный цикл работ<br>от дизайна до производства
            </p>
        </div>
    </div>
</section>

<section class="service">
    <div class="container">
        <h2 class="section-heading service__heading">
            Дизайн
        </h2>
        <div class="service__row">
            <div class="section-number service__section-number">
                01
            </div>
            <div class="service__content">
                <div class="service__text-content">
                    <h3 class="service__inner-heading">
                        Дизайн достойный вашей компании
                    </h3>
                    <div class="service__text">
                        <p>
                            Проводим дизайн-исследование, разрабатываем брендинг, оформляем ваш проект в единый
                            брендбук.
                        </p>
                    </div>
                    <a href="#" class="dot-link">
                        <span class="dot-link__text">
                            подробнее
                        </span>
                    </a>
                </div>
                <div class="service__slider js-service-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-1.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-1.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-1.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-1.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-1.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service__slider-controls">
                        <div class="service__slider-links">
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />

                                    </svg>
                                </span>

                                Логотип и фирменный стиль

                            </a>
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />

                                    </svg>
                                </span>
                                Brandbook

                            </a>
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />

                                    </svg>
                                </span>
                                Иллюстрации

                            </a>
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />

                                    </svg>
                                </span>
                                Презентация
                            </a>
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                    </svg>
                                </span>
                                шрифты

                            </a>
                        </div>
                        <div class="service__slider-arrows">
                            <button class="service__slider-arrow service__slider-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-small-arrow-left">
                                    <use xlink:href="#small-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="service__slider-arrow service__slider-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-small-arrow-right">
                                    <use xlink:href="#small-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="polygraphy">
    <div class="container">
        <h2 class="section-heading polygraphy__heading">
            ПОЛИГРАФИЯ
        </h2>
        <div class="polygraphy__row">
            <div class="section-number polygraphy__section-number">
                02
            </div>
            <div class="polygraphy__content">
                <div class="polygraphy__info-row">
                    <h3 class="polygraphy__info-heading">
                        Качественная печать<br> на любых носителях
                    </h3>
                    <div class="polygraphy__info-text">
                        <p>
                            Наличие своей типографии позволяет сократить время изготовления и контролировать качество
                            производства
                        </p>
                    </div>
                </div>
                <div class="polygraphy__slider js-poligraphy-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #D2F2FF;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/1.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Блокнот
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F0FBE6;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/2.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Штампы и печати
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F3F3F3;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/3.png" alt=""
                                            class="lazyload polygraphy__slider-card-image">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Наклейки, стикеры
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #FBFCD1;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/4.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Листовки
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #FFEEEE;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/5.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Печать
                                        на холсте
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color:  #E1FFE2;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/6.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Грамоты и дипломы
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #FFD8CC;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/7.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Футболки
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #CFDDFF;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/2.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Сувенирная
                                        продукция
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #D2F2FF;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/1.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Блокнот
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F0FBE6;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/2.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Штампы и печати
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F3F3F3;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/3.png" alt=""
                                            class="lazyload polygraphy__slider-card-image">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Наклейки, стикеры
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #FBFCD1;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/polygraphy/4.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Листовки
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="polygraphy__slider-controls">
                        <a href="#" class="buy-link buy-link--blue polygraphy__slider-buy-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cart">
                                <use xlink:href="#cart"></use>
                            </svg>
                            Приобрести готовую продукцию
                        </a>
                        <a href="#" class="dot-link">
                            <span class="dot-link__text">
                                Все виды печати
                            </span>
                        </a>
                        <div class="slider-arrows polygraphy__slider-arrows">
                            <button class="slider-arrows__btn slider-arrows__btn--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="slider-arrows__btn slider-arrows__btn--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="service">
    <div class="container">
        <h2 class="section-heading service__heading">
            услуги
        </h2>
        <div class="service__row">
            <div class="section-number service__section-number">
                03
            </div>
            <div class="service__content">
                <div class="service__text-content">
                    <h3 class="service__inner-heading">
                        Изготавливаем<br> полиграфию<br> по&nbsp;современным<br> технологиям
                    </h3>
                    <div class="service__text">
                        <p>
                            Проводим дизайн-исследование, разрабатываем брендинг, оформляем ваш проект в&nbsp;единый
                            брендбук.
                        </p>
                    </div>
                    <a href="#" class="dot-link">
                        <span class="dot-link__text">
                            подробнее
                        </span>
                    </a>
                </div>
                <div class="service__slider js-service-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-2.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-2.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-2.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-2.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-2.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="service__slider-card">
                                    <img src="img/service-slider-2.jpg" alt="" class="service__slider-card-image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="service__slider-controls">
                        <div class="service__slider-links">
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />

                                    </svg>
                                </span>

                                Шелкография

                            </a>
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />

                                    </svg>
                                </span>
                                Гравировка

                            </a>
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />

                                    </svg>
                                </span>
                                УФ печать

                            </a>
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />

                                    </svg>
                                </span>
                                Термотрансфер
                            </a>
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                    </svg>
                                </span>
                                Цифровая печать

                            </a>
                            <a href="#" class="service__slider-link">
                                <span class="service__slider-link-bg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="136" height="150"
                                        class="surface-types__slider-nav-link-bg" preserveAspectRatio="none">

                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="0.3" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                        <rect x="1" y="1" width="100%" height="100%" rx="12" fill="none" stroke="#fff"
                                            stroke-opacity="1" stroke-width="1" vector-effect="non-scaling-stroke"
                                            preserveAspectRatio="none" />
                                    </svg>
                                </span>
                                Баннер и постер

                            </a>
                        </div>
                        <div class="service__slider-arrows">
                            <button class="service__slider-arrow service__slider-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-small-arrow-left">
                                    <use xlink:href="#small-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="service__slider-arrow service__slider-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-small-arrow-right">
                                    <use xlink:href="#small-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="advantages">
    <div class="container">
        <div class="advantages__row">
            <svg width="14" height="14" aria-hidden="true" class="icon-star advantages__star">
                <use xlink:href="#star"></use>
            </svg>
            <div class="advantages__content">
                <div class="advantages__top-text">
                    <p>
                        высокое качество круглый год<br> при больших объемах работы
                    </p>
                </div>
                <ul class="advantages__list">
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-number">
                                10 000 000
                            </div>
                            <div class="advantages__card-text">
                                <p>
                                    сэкономили нашим клиентамна материалах
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-number">
                                300+
                            </div>
                            <div class="advantages__card-text">
                                <p>
                                    реализованных проектов производства полиграфии под ключ

                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-number">
                                15 000
                            </div>
                            <div class="advantages__card-text">
                                <p>
                                    футболок с нанесением производим ежегодно
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="portfolio js-portfolio">
    <div class="container">
        <div class="portfolio__row">
            <h2 class="section-label section-label--dark portfolio__heading">
                Портфолио
            </h2>
            <div class="portfolio__content">
                <div class="portfolio__info-row">
                    <h3 class="portfolio__info-heading">
                        С 2013 года мы создали<br> более 1000 проектов
                    </h3>
                    <div class="portfolio__info-text">
                        <p>
                            Почти за каждым из них стоит некая важная и интересная для нас история
                        </p>
                    </div>
                </div>
                <div class="portfolio__categories">
                    <a href="#" class="portfolio__categories-link">
                        Все работы
                    </a>
                    <a href="#" class="portfolio__categories-link">
                        Полиграфия
                    </a>
                    <a href="#" class="portfolio__categories-link">
                        Дизайн
                    </a>
                    <a href="#" class="portfolio__categories-link">
                        Мерч
                    </a>
                </div>
                <div class="portfolio__sliders">
                    <div class="portfolio__slider js-portfolio-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/1.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/2.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/3.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/4.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/5.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/6.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/7.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>

                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/2.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/3.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/4.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/5.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/6.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                                <a href="#" class="portfolio__slider-card">
                                    <img data-src="img/portfolio/7.jpg" alt=""
                                        class="lazyload portfolio__slider-card-image">
                                </a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop">

    <div class="container">
        <div class="shop__content">


            <picture>
                <source data-srcset="img/macbook-desktop.webp" type="image/webp">
                <source data-srcset="img/macbook-desktop.png" type="image/png">
                <img data-src="img/macbook-desktop.png" alt="" class="lazyload shop__image">
            </picture>
            <h2 class="section-label shop__heading">
                Магазин
            </h2>
            <div class="shop__info">
                <div class="shop__text">
                    <p>
                        Выберите продукцию для нанесения, <em>сувениры</em> или готовые <em>подарочные наборы</em>
                    </p>
                </div>
                <a href="#" class="buy-link shop__link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-cart">
                        <use xlink:href="#cart"></use>
                    </svg>
                    перейти в магазин
                </a>
            </div>
        </div>
    </div>
</section>
<section class="lets-talk">
    <div class="container">
        <div class="lets-talk__row">
            <svg width="14" height="14" aria-hidden="true" class="icon-star lets-talk__star">
                <use xlink:href="#star"></use>
            </svg>
            <div class="lets-talk__card">
                <h2 class="lets-talk__card-heading">
                    Давайте обсудим<br>
                    ваш проект
                </h2>
                <form action="/" method="POST">
                    <div class="lets-talk__form-row">
                        <div class="lets-talk__manager-text">
                            наш менеджер ответит<br> на все ваши вопросы
                        </div>
                        <div class="lets-talk__input-wrapper">
                            <input type="tel" name="phone" class="lets-talk__input js-phone-input" required
                                placeholder="номер телефона">
                            <button class="lets-talk__form-submit" type="submit">
                                отправить заявку
                            </button>
                            <label class="lets-talk__policy-checkbox">
                                <input type="checkbox" name="policy" class="lets-talk__policy-checkbox-input" required
                                    checked>
                                <span class="lets-talk__policy-checkbox-mark">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="lets-talk__policy-checkbox-text">
                                    согласен с <a href="#">
                                        политикой конфиденциальности
                                    </a>
                                </span>
                            </label>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}