{{#extend "layout"}}
{{#content "main"}}



<section class="merch-intro">
    <div class="merch-intro__bg">


        <picture>
            <source srcset="img/merch-mobile-bg.jpg" media="(max-width: 641px)">
            <img src="img/merch-intro.jpg" alt="MDN">
        </picture>
    </div>
    <div class="container">



        <div class="merch-intro__row">
            <h2 class="section-label section-label--dark merch-intro__heading">
                мерч
            </h2>
            <div class="merch-intro__content">
                <div class="merch-intro__text">
                    <p>
                        Разрабатываем качественный мерч на заказ от идеи до производства. Доставляем по всей России
                    </p>

                </div>
                <div class="merch-intro__subtext">
                    <p>
                        стильный<br>и функциональный<br>мерч на любой случай
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="features">
    <div class="container">
        <ul class="features__list">
            <li class="features__list-item">
                <div class="features__card js-feature">

                    <div class="features__card-content">
                        <button class="features__card-plus">
                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                <use xlink:href="#plus"></use>
                            </svg>
                        </button>
                        <div class="features__card-content-inner">


                            <h4 class="features__card-title">
                                Подготовьтесь к мероприятию
                            </h4>
                            <div class="features__card-text">
                                <div class="features__card-text-inner">
                                    <ul>
                                        <li>
                                            Делаем под ключ
                                        </li>
                                        <li>
                                            Большой опыт упаковки мероприятий
                                        </li>
                                        <li>
                                            Выполняем большие объемы
                                        </li>
                                        <li>
                                            в короткие сроки
                                        </li>
                                        <li>
                                            Возможна отсрочка платежей
                                        </li>
                                        <li>
                                            Доставка
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="features__list-item">
                <div class="features__card js-feature">

                    <div class="features__card-content">
                        <button class="features__card-plus">
                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                <use xlink:href="#plus"></use>
                            </svg>
                        </button>
                        <div class="features__card-content-inner">


                            <h4 class="features__card-title">
                                Зарабатывайте<br> на собственном бренде
                            </h4>
                            <div class="features__card-text">
                                <div class="features__card-text-inner">
                                    <ul>
                                        <li>
                                            Делаем под ключ
                                        </li>
                                        <li>
                                            Большой опыт упаковки мероприятий
                                        </li>
                                        <li>
                                            Выполняем большие объемы
                                        </li>
                                        <li>
                                            в короткие сроки
                                        </li>
                                        <li>
                                            Возможна отсрочка платежей
                                        </li>
                                        <li>
                                            Доставка
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="features__list-item">
                <div class="features__card js-feature">

                    <div class="features__card-content">
                        <button class="features__card-plus">
                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                <use xlink:href="#plus"></use>
                            </svg>
                        </button>
                        <div class="features__card-content-inner">


                            <h4 class="features__card-title">
                                Дарите<br> уникальные сувениры
                            </h4>
                            <div class="features__card-text">
                                <div class="features__card-text-inner">
                                    <ul>
                                        <li>
                                            Делаем под ключ
                                        </li>
                                        <li>
                                            Большой опыт упаковки мероприятий
                                        </li>
                                        <li>
                                            Выполняем большие объемы
                                        </li>
                                        <li>
                                            в короткие сроки
                                        </li>
                                        <li>
                                            Возможна отсрочка платежей
                                        </li>
                                        <li>
                                            Доставка
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="features__list-item">
                <div class="features__card js-feature">

                    <div class="features__card-content">
                        <button class="features__card-plus">
                            <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                <use xlink:href="#plus"></use>
                            </svg>
                        </button>
                        <div class="features__card-content-inner">


                            <h4 class="features__card-title">
                                Повышайте<br> лояльность команды
                            </h4>
                            <div class="features__card-text">
                                <div class="features__card-text-inner">
                                    <ul>
                                        <li>
                                            Делаем под ключ
                                        </li>
                                        <li>
                                            Большой опыт упаковки мероприятий
                                        </li>
                                        <li>
                                            Выполняем большие объемы
                                        </li>
                                        <li>
                                            в короткие сроки
                                        </li>
                                        <li>
                                            Возможна отсрочка платежей
                                        </li>
                                        <li>
                                            Доставка
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>

<section class="cycle js-cycle">
    <div class="container">
        <div class="cycle__text">

            <p>
            <div class="cycle__arrow">

            </div>


            создаем уникальный мерч<br> от идеи до производства
            </p>
        </div>
    </div>
</section>

<section class="our-benefits">
    <div class="container">
        <div class="our-benefits__row">
            <h2 class="our-benefits__heading">
                наши <br>преимущества
            </h2>
            <ul class="our-benefits__list">
                <li class="our-benefits__list-item">
                    <div class="our-benefits__card">
                        <img src="img/benefits/1.svg" alt="" class="our-benefits__card-icon">
                        <h4 class="our-benefits__card-title">
                            Решение под ключ
                        </h4>
                        <div class="our-benefits__card-text">
                            <p>
                                Можем взять на себя весь процесс от идеидо реализации благодаря штату дизайнеров и
                                собственному производству
                            </p>
                        </div>
                    </div>
                </li>
                <li class="our-benefits__list-item">
                    <div class="our-benefits__card">
                        <img src="img/benefits/2.svg" alt="" class="our-benefits__card-icon">
                        <h4 class="our-benefits__card-title">
                            Индвидиуальный подход
                        </h4>
                        <div class="our-benefits__card-text">
                            <p>
                                Мы не просто создаем мерч, а решаем ваши задачи: регулярный или ситуативный,
                                экологичныйи функциональный — нам под силу
                            </p>
                        </div>
                    </div>
                </li>
                <li class="our-benefits__list-item">
                    <div class="our-benefits__card">
                        <img src="img/benefits/3.svg" alt="" class="our-benefits__card-icon">
                        <h4 class="our-benefits__card-title">
                            Большой опыт
                        </h4>
                        <div class="our-benefits__card-text">
                            <p>
                                Доверьте разработку профессионалам - мы знаем, как сделать лучше. Например, подскажем,
                                на что обратить внимание при выборе лекали правильно протестируем образцы вместе с вами
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="polygraphy js-move-up-block">
    <div class="container">
        <h2 class="section-heading polygraphy__heading">
            АССОРТИМЕТ
        </h2>
        <div class="polygraphy__row">
            <div class="section-number polygraphy__section-number">

            </div>
            <div class="polygraphy__content">
                <div class="polygraphy__info-row">
                    <h3 class="polygraphy__info-heading">
                        Мерч на любых<br> носителях
                    </h3>
                    <div class="polygraphy__info-text">
                        <p>
                            Наличие своей типографии позволяет сократить время изготовления и контролировать качество
                            производства. А еще мы можем отшить одежду по индивидуальным лекалам на собственном
                            производстве.
                        </p>
                    </div>
                </div>
                <div class="polygraphy__slider js-poligraphy-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/1.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Футболки
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/2.png" alt=""
                                            class="lazyload polygraphy__slider-card-image ">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Штампы <br>и печати
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/3.png" alt=""
                                            class="lazyload polygraphy__slider-card-image ">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Наклейки,<br> стикеры
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/4.png" alt=""
                                            class="lazyload polygraphy__slider-card-image ">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Листовки
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/5.png" alt=""
                                            class="lazyload polygraphy__slider-card-image ">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Печать<br>
                                        на холсте
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/1.png" alt=""
                                            class="lazyload polygraphy__slider-card-image polygraphy__slider-card-image--need-shadow">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Футболки
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/2.png" alt=""
                                            class="lazyload polygraphy__slider-card-image ">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Штампы <br>и печати
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/3.png" alt=""
                                            class="lazyload polygraphy__slider-card-image ">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Наклейки,<br> стикеры
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/4.png" alt=""
                                            class="lazyload polygraphy__slider-card-image ">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Листовки
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="polygraphy__slider-card" style="background-color: #F9F9F9;">
                                    <div class="polygraphy__slider-card-image-container">
                                        <img data-src="img/products/5.png" alt=""
                                            class="lazyload polygraphy__slider-card-image ">
                                    </div>
                                    <h4 class="polygraphy__slider-card-title">
                                        Печать<br>
                                        на холсте
                                    </h4>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="polygraphy__slider-controls">
                        <a href="#" class="buy-link buy-link--filled polygraphy__slider-consult-link">

                            Получить консультацию
                        </a>
                        <a href="#" class="buy-link buy-link--blue polygraphy__slider-buy-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cart">
                                <use xlink:href="#cart"></use>
                            </svg>
                            Смотреть готовые комплекты
                        </a>

                        <div class="slider-arrows polygraphy__slider-arrows">
                            <button class="slider-arrows__btn slider-arrows__btn--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="slider-arrows__btn slider-arrows__btn--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="projects js-move-up-block js-projects" data-loading-url="design.html"
    data-loaded-text="Перейти в портфолио">
    <div class="container">
        <div class="projects__top-row">
            <h2 class="projects__heading">
                Примеры наших работ
            </h2>
            <a href="#" class="dot-link projects__link">
                <span class="dot-link__text">
                    смотреть все работы
                </span>
            </a>
        </div>
        <ul class="projects__grid">
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/1.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/2.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item projects__grid-item--large">
                <div class="projects__grid-card">
                    <div class="projects__grid-card-slider js-projects-card-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/3.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/11.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/8.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projects__grid-card-info">
                        <h4 class="projects__grid-card-title">
                            Концепт торговой марки «Дом бобов»
                            <svg width="14" height="14" aria-hidden="true" class="icon-projects-slider-arrow-right">
                                <use xlink:href="#projects-slider-arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="projects__grid-card-show-case">
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#eye"></use>
                            </svg>
                            Смотреть кейс
                        </div>
                    </div>

                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/4.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/5.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/6.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/7.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
            <li class="projects__grid-item projects__grid-item--large">

                <div class="projects__grid-card">
                    <div class="projects__grid-card-slider js-projects-card-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/8.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/11.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/3.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projects__grid-card-info">
                        <h4 class="projects__grid-card-title">
                            Логотип компании ӨCH!
                            <svg width="14" height="14" aria-hidden="true" class="icon-projects-slider-arrow-right">
                                <use xlink:href="#projects-slider-arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="projects__grid-card-show-case">
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#eye"></use>
                            </svg>
                            Смотреть кейс
                        </div>
                    </div>

                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/9.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>

            <li class="projects__grid-item projects__grid-item--large">



                <div class="projects__grid-card">
                    <div class="projects__grid-card-slider js-projects-card-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/11.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/8.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="projects__grid-card-slider-card">
                                        <img src="img/projects/3.jpg" alt=""
                                            class="projects__grid-card-slider-card-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="projects__grid-card-info">
                        <h4 class="projects__grid-card-title">
                            Концепт торговой марки «Дом бобов»
                            <svg width="14" height="14" aria-hidden="true" class="icon-projects-slider-arrow-right">
                                <use xlink:href="#projects-slider-arrow-right"></use>
                            </svg>
                        </h4>
                        <div class="projects__grid-card-show-case">
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#eye"></use>
                            </svg>
                            Смотреть кейс
                        </div>
                    </div>

                </div>
            </li>
            <li class="projects__grid-item">
                <div class="projects__grid-card">
                    <img src="img/projects/10.jpg" alt="" class="projects__grid-card-image">
                </div>
            </li>
        </ul>
        <a href="#" class="projects__load-more">
            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                <use xlink:href="#arrow-down"></use>
            </svg>
            <div class="projects__load-more-text">
                показать больше работ
            </div>

        </a>
    </div>
</section>

<section class="how-we-work js-move-up-block">
    <div class="container">
        <h2 class="section-heading how-we-work__heading">
            Как мы работаем?
        </h2>

        <div class="how-we-work__slider how-we-work__slider--three-cols js-how-we-work-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="how-we-work__slider-card">
                            <div class="how-we-work__slider-card-number">
                                01
                            </div>
                            <h4 class="how-we-work__slider-card-title">
                                Смотрим на результат глазами клиента
                            </h4>
                            <div class="how-we-work__slider-card-text">
                                <p>
                                    С нами процесс не затянется на месяцы, ведь мы заинтересованы в хорошем результате и
                                    ценим ваше время. Персональный менеджер проведет вас от заявки до доставки.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="how-we-work__slider-card">
                            <div class="how-we-work__slider-card-number">
                                02
                            </div>
                            <h4 class="how-we-work__slider-card-title">
                                Делаем качественно и надежно
                            </h4>
                            <div class="how-we-work__slider-card-text">
                                <p>
                                    Наш мерч прослужит долго, ведь мы тщательно отбираем материалы и продукцию,
                                    используем передовое оборудование для нанесения принтов.
                                </p>
                            </div>
                            <a href="#" class="dot-link">
                                <span class="dot-link__text">
                                    посмотреть способы оплаты
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="how-we-work__slider-card">
                            <div class="how-we-work__slider-card-number">
                                03
                            </div>
                            <h4 class="how-we-work__slider-card-title">
                                Оплата работы
                            </h4>
                            <div class="how-we-work__slider-card-text">
                                <p>
                                    Работаем с надежными партнерамии заранее оговариваем сроки
                                </p>
                            </div>
                            <a href="#" class="dot-link">
                                <span class="dot-link__text">
                                    посмотреть способы оплаты
                                </span>
                            </a>
                            <div class="how-we-work__delivery">
                                <div class="how-we-work__delivery-card">
                                    <img src="img/delivery/sdek.png" alt="" class="how-we-work__delivery-logo">
                                </div>
                                <div class="how-we-work__delivery-card">
                                    <img src="img/delivery/baikal.png" alt="" class="how-we-work__delivery-logo">
                                </div>
                                <div class="how-we-work__delivery-card">
                                    <img src="img/delivery/transport.png" alt="" class="how-we-work__delivery-logo">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="services services--simple js-services">
    <div class="container">
        <h2 class="section-heading services__heading">
            <div class="services__heading-text">
                Процесс работы
            </div>
        </h2>
        <div class="services__row">
            <ol class="services__nav-list">
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter">

                                </span>
                                <span class="services__nav-link-text">
                                    Разработка идеи
                                </span>

                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter">

                                </span>
                                <span class="services__nav-link-text">
                                    Смета
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter">

                                </span>
                                <span class="services__nav-link-text">
                                    Дизайн
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter">

                                </span>
                                <span class="services__nav-link-text">
                                    Производство
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter">

                                </span>
                                <span class="services__nav-link-text">
                                    Упаковка
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter">

                                </span>
                                <span class="services__nav-link-text">
                                    Доставка
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
            </ol>
            <div class="services__slider">
                <div class="services__slider-content services__slider-content--simple">
                    <div class="services__slider-images">
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/service-simple-image.jpg" media="(max-width: 640px)">
                                <img data-src="img/service-simple-image.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/service-simple-image.jpg" media="(max-width: 640px)">
                                <img data-src="img/service-simple-image.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/service-simple-image.jpg" media="(max-width: 640px)">
                                <img data-src="img/service-simple-image.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/service-simple-image.jpg" media="(max-width: 640px)">
                                <img data-src="img/service-simple-image.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/service-simple-image.jpg" media="(max-width: 640px)">
                                <img data-src="img/service-simple-image.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/service-simple-image.jpg" media="(max-width: 640px)">
                                <img data-src="img/service-simple-image.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                    </div>
                    <div class="services__slider-text">
                        <div class="services__slider-text-item">
                            <div class="services__text-blocks">
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        уже есть дизайн?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            ознакомиться с требованиями к дизайну вы можете по ссылке
                                        </p>
                                    </div>
                                    <a href="#details-modal"
                                        class="dot-link services__slider-text-dot-link js-open-modal">
                                        <span class="dot-link__text">
                                            требования к макетам
                                        </span>
                                    </a>

                                </div>
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        нужно разработать?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            опытная команда поможет разработать классный мерч, при взгляде на который
                                            клиент будет вспоминать именно вас.
                                        </p>
                                    </div>
                                    <a href="#" class="dot-link services__slider-text-dot-link">
                                        <span class="dot-link__text">
                                            подробнее
                                        </span>
                                    </a>
                                    <a href="#" class="btn services__slider-text-btn" data-text="Получить консультацию">
                                        <span class="btn__inner-text">
                                            Получить консультацию
                                        </span>
                                    </a>

                                </div>
                            </div>

                        </div>
                        <div class="services__slider-text-item">
                            <div class="services__text-blocks">
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        уже есть дизайн?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            ознакомиться с требованиями к дизайну вы можете по ссылке
                                        </p>
                                    </div>
                                    <a href="#details-modal"
                                        class="dot-link services__slider-text-dot-link js-open-modal">
                                        <span class="dot-link__text">
                                            требования к макетам
                                        </span>
                                    </a>

                                </div>
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        нужно разработать?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            опытная команда поможет разработать классный мерч, при взгляде на который
                                            клиент будет вспоминать именно вас.
                                        </p>
                                    </div>
                                    <a href="#" class="dot-link services__slider-text-dot-link">
                                        <span class="dot-link__text">
                                            подробнее
                                        </span>
                                    </a>
                                    <a href="#" class="btn services__slider-text-btn" data-text="Получить консультацию">
                                        <span class="btn__inner-text">
                                            Получить консультацию
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="services__slider-text-item">
                            <div class="services__text-blocks">
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        уже есть дизайн?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            ознакомиться с требованиями к дизайну вы можете по ссылке
                                        </p>
                                    </div>
                                    <a href="#details-modal"
                                        class="dot-link services__slider-text-dot-link js-open-modal">
                                        <span class="dot-link__text">
                                            требования к макетам
                                        </span>
                                    </a>

                                </div>
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        нужно разработать?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            опытная команда поможет разработать классный мерч, при взгляде на который
                                            клиент будет вспоминать именно вас.
                                        </p>
                                    </div>
                                    <a href="#" class="dot-link services__slider-text-dot-link">
                                        <span class="dot-link__text">
                                            подробнее
                                        </span>
                                    </a>
                                    <a href="#" class="btn services__slider-text-btn" data-text="Получить консультацию">
                                        <span class="btn__inner-text">
                                            Получить консультацию
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="services__slider-text-item">
                            <div class="services__text-blocks">
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        уже есть дизайн?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            ознакомиться с требованиями к дизайну вы можете по ссылке
                                        </p>
                                    </div>
                                    <a href="#details-modal"
                                        class="dot-link services__slider-text-dot-link js-open-modal">
                                        <span class="dot-link__text">
                                            требования к макетам
                                        </span>
                                    </a>

                                </div>
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        нужно разработать?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            опытная команда поможет разработать классный мерч, при взгляде на который
                                            клиент будет вспоминать именно вас.
                                        </p>
                                    </div>
                                    <a href="#" class="dot-link services__slider-text-dot-link">
                                        <span class="dot-link__text">
                                            подробнее
                                        </span>
                                    </a>
                                    <a href="#" class="btn services__slider-text-btn" data-text="Получить консультацию">
                                        <span class="btn__inner-text">
                                            Получить консультацию
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="services__slider-text-item">
                            <div class="services__text-blocks">
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        уже есть дизайн?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            ознакомиться с требованиями к дизайну вы можете по ссылке
                                        </p>
                                    </div>
                                    <a href="#details-modal"
                                        class="dot-link services__slider-text-dot-link js-open-modal">
                                        <span class="dot-link__text">
                                            требования к макетам
                                        </span>
                                    </a>

                                </div>
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        нужно разработать?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            опытная команда поможет разработать классный мерч, при взгляде на который
                                            клиент будет вспоминать именно вас.
                                        </p>
                                    </div>
                                    <a href="#" class="dot-link services__slider-text-dot-link">
                                        <span class="dot-link__text">
                                            подробнее
                                        </span>
                                    </a>
                                    <a href="#" class="btn services__slider-text-btn" data-text="Получить консультацию">
                                        <span class="btn__inner-text">
                                            Получить консультацию
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="services__slider-text-item">
                            <div class="services__text-blocks">
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        уже есть дизайн?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            ознакомиться с требованиями к дизайну вы можете по ссылке
                                        </p>
                                    </div>
                                    <a href="#details-modal"
                                        class="dot-link services__slider-text-dot-link js-open-modal">
                                        <span class="dot-link__text">
                                            требования к макетам
                                        </span>
                                    </a>

                                </div>
                                <div class="services__text-block">
                                    <h4 class="services__slider-text-heading">
                                        нужно разработать?
                                    </h4>
                                    <div class="services__slider-text-description">
                                        <p>
                                            опытная команда поможет разработать классный мерч, при взгляде на который
                                            клиент будет вспоминать именно вас.
                                        </p>
                                    </div>
                                    <a href="#" class="dot-link services__slider-text-dot-link">
                                        <span class="dot-link__text">
                                            подробнее
                                        </span>
                                    </a>
                                    <a href="#" class="btn services__slider-text-btn" data-text="Получить консультацию">
                                        <span class="btn__inner-text">
                                            Получить консультацию
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reviews js-reviews-slider js-move-up-block">
    <div class="container">
        <div class="reviews__row">
            <h2 class="section-label section-label--dark reviews__heading">
                Отзывы
            </h2>

            <div class="reviews__slider-top-panel">
                <div class="reviews__slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="reviews__slider-progress">

                </div>
            </div>
        </div>
        <div class="reviews__row">
            <div class="reviews__slider">
                <div class="reviews__slider-row">
                    <div class="reviews__slider-thumbs">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__slider-main">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-1.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    СәЛәТ
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-2.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    Татнефть
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-1.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    СәЛәТ
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-2.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    Татнефть
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="lets-talk lets-talk--inner-star lets-talk--blue js-move-up-block">
    <div class="container">
        <div class="lets-talk__row">

            <div class="lets-talk__card">
                <svg width="14" height="14" aria-hidden="true" class="icon-star lets-talk__star">
                    <use xlink:href="#star"></use>
                </svg>
                <div class="lets-talk__card-content">
                    <h2 class="lets-talk__card-heading">
                        Хотите посмотреть<br>
                        образцы вживую?
                    </h2>
                    <form action="/" method="POST" data-need-validation>
                        <div class="lets-talk__form-row" id="lets-talk-error-element">
                            <div class="lets-talk__manager-text">
                                наш менеджер ответит<br> на все ваши вопросы
                            </div>
                            <div class="lets-talk__inputs-block">


                                <div class="lets-talk__input-wrapper">
                                    <input type="tel" name="phone" class="lets-talk__input js-phone-input" required
                                        placeholder="номер телефона" data-parsley-class-handler="#lets-talk-error-element" data-parsley-phone="" data-parsley-class-handler=".lets-talk__inputs-block">
                                    <button class="lets-talk__form-submit" type="submit">
                                        <span class="lets-talk__form-submit-text">
                                            отправить заявку
                                        </span>


                                        <svg width="14" height="14" aria-hidden="true" class="icon-submit-arrow-right">
                                            <use xlink:href="#submit-arrow-right"></use>
                                        </svg>
                                    </button>

                                </div>
                                <label class="lets-talk__policy-checkbox">
                                    <input type="checkbox" name="policy" value="1"
                                        class="lets-talk__policy-checkbox-input" required checked>
                                    <span class="lets-talk__policy-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="lets-talk__policy-checkbox-text">
                                        согласен с
                                        политикой конфиденциальности

                                    </span>
                                </label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}