{{#extend "layout"}}
{{#content "main"}}


<section class="not-found">

    <div class="container">
        <div class="not-found__row">

            <h2 class="section-label section-label--dark not-found__heading">
                ошибка 404
            </h2>
            <div class="not-found__content">
                <img src="img/crumpled-bg.png" alt="" class="not-found__bg-image">
                <div class="not-found__error">
                    страница не найдена
                </div>
                <div class="not-found__text">
                    <p>
                        Возможно она устарела, была удалена, или был введен неверный адрес в адресной строке.
                    </p>
                </div>
                <a href="#" class="not-found__link">
                    перейти на главную
                </a>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}