{{#extend "layout"}}
{{#content "main"}}


<section class="polygraphy-catalog">
    <div class="container">
        <div class="polygraphy-catalog__row">
            <a href="#" class="polygraphy-catalog__back-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-left">
                    <use xlink:href="#long-arrow-left"></use>
                </svg>
                назад к полиграфии
            </a>
            <div class="polygraphy-catalog__content">
                <h1 class="polygraphy-catalog__heading">
                    Блокноты
                </h1>

                <div class="where-to-print__slider js-where-top-print-slider">
                    <div class="swiper-container">
                        <ul class="swiper-wrapper where-to-print__list">
                            <li class="swiper-slide where-to-print__list-item">
                                <a href="#" class="where-to-print__card">
                                    <div class="where-to-print__card-image-container">
                                        <img src="img/polygraphy-details/1.png" alt=""
                                            class="where-to-print__card-image">
                                    </div>
                                    <h4 class="where-to-print__card-title">
                                        Блокнот А6 (105х148)
                                    </h4>
                                    <div class="where-to-print__card-price">
                                        от 40 ₽
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide where-to-print__list-item where-to-print__list-item--large">
                                <a href="#" class="where-to-print__card">

                                    <div class="where-to-print__card-image-container">
                                        <img src="img/polygraphy-details/2.png" alt=""
                                            class="where-to-print__card-image">
                                    </div>
                                    <h4 class="where-to-print__card-title">
                                        Блокнот А5 (148х210)
                                    </h4>
                                    <div class="where-to-print__card-price">
                                        от 150 ₽
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide where-to-print__list-item">
                                <a href="#" class="where-to-print__card">
                                    <div class="where-to-print__card-image-container">
                                        <img src="img/polygraphy-details/2.png" alt=""
                                            class="where-to-print__card-image">
                                    </div>
                                    <h4 class="where-to-print__card-title">
                                        Блокнот А5 с ручкой
                                    </h4>
                                    <div class="where-to-print__card-price">
                                        от 40 ₽
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide where-to-print__list-item">
                                <a href="#" class="where-to-print__card">

                                    <div class="where-to-print__card-image-container">
                                        <img src="img/polygraphy-details/3.png" alt=""
                                            class="where-to-print__card-image">
                                    </div>
                                    <h4 class="where-to-print__card-title">
                                        Блокнот 15х15
                                    </h4>
                                    <div class="where-to-print__card-price">
                                        от 40 ₽
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide where-to-print__list-item">
                                <a href="#" class="where-to-print__card">

                                    <div class="where-to-print__card-image-container">
                                        <img src="img/polygraphy-details/3.png" alt=""
                                            class="where-to-print__card-image">
                                    </div>
                                    <h4 class="where-to-print__card-title">
                                        Блокнот 21х21
                                    </h4>
                                    <div class="where-to-print__card-price">
                                        от 40 ₽
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide where-to-print__list-item where-to-print__list-item--large">
                                <a href="#" class="where-to-print__card">

                                    <div class="where-to-print__card-image-container">
                                        <img src="img/polygraphy-details/1.png" alt=""
                                            class="where-to-print__card-image">
                                    </div>
                                    <h4 class="where-to-print__card-title">
                                        Блокнот А4 (210х297)
                                    </h4>
                                    <div class="where-to-print__card-price">
                                        от 150 ₽
                                    </div>
                                </a>
                            </li>

                            <li class="swiper-slide where-to-print__list-item">
                                <a href="#" class="where-to-print__card">

                                    <div class="where-to-print__card-image-container">
                                        <img src="img/polygraphy-details/4.png" alt=""
                                            class="where-to-print__card-image">
                                    </div>
                                    <h4 class="where-to-print__card-title">
                                        Блокнот Евро 100/200
                                    </h4>
                                    <div class="where-to-print__card-price">
                                        от 40 ₽
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide where-to-print__list-item">
                                <a href="#" class="where-to-print__card">

                                    <div class="where-to-print__card-image-container">
                                        <img src="img/polygraphy-details/5.png" alt=""
                                            class="where-to-print__card-image">
                                    </div>
                                    <h4 class="where-to-print__card-title">
                                        Другой блокнот
                                    </h4>
                                    <div class="where-to-print__card-price">
                                        от 40 ₽
                                    </div>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="shop js-shop">
    <div class="container">
        <div class="shop__content">
            <h2 class="section-label shop__heading">
                Магазин
            </h2>
            <picture>
                <source data-srcset="img/macbook-desktop.webp" type="image/webp">
                <source data-srcset="img/macbook-desktop.png" type="image/png">
                <img data-src="img/macbook-desktop.png" alt="" class="lazyload shop__image">
            </picture>
            <div class="shop__info">
                <div class="shop__text">
                    <p>

                        <em>Готовые варианты</em> можно подобрать в нашем интернет&#8209;магазине imagestudio.shop
                    </p>
                </div>
                <a href="#" class="buy-link shop__link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-cart">
                        <use xlink:href="#cart"></use>
                    </svg>
                    перейти в магазин
                </a>
            </div>
        </div>
    </div>
</section>


<section class="lets-talk">
    <div class="container">
        <div class="lets-talk__row">
            <svg width="14" height="14" aria-hidden="true" class="icon-star lets-talk__star">
                <use xlink:href="#star"></use>
            </svg>
            <div class="lets-talk__card">
                <div class="lets-talk__card-content">
                    <h2 class="lets-talk__card-heading">
                        Не нашли подходящий<br> вариант?
                    </h2>
                    <form action="/" method="POST" data-need-validation>
                        <div class="lets-talk__form-row" id="lets-talk-error-element">
                            <div class="lets-talk__manager-text">
                                наш менеджер ответит<br> на все ваши вопросы
                            </div>
                            <div class="lets-talk__inputs-block">


                                <div class="lets-talk__input-wrapper">
                                    <input type="tel" name="phone" class="lets-talk__input js-phone-input" required
                                        placeholder="номер телефона" data-parsley-phone="" data-parsley-class-handler="#lets-talk-error-element" data-parsley-class-handler=".lets-talk__inputs-block">
                                    <button class="lets-talk__form-submit" type="submit">
                                        <span class="lets-talk__form-submit-text">
                                            отправить заявку
                                        </span>


                                        <svg width="14" height="14" aria-hidden="true" class="icon-submit-arrow-right">
                                            <use xlink:href="#submit-arrow-right"></use>
                                        </svg>
                                    </button>

                                </div>
                                <label class="lets-talk__policy-checkbox">
                                    <input type="checkbox" name="policy" value="1"
                                        class="lets-talk__policy-checkbox-input" required checked>
                                    <span class="lets-talk__policy-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="lets-talk__policy-checkbox-text">
                                        согласен с
                                        политикой конфиденциальности

                                    </span>
                                </label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}