{{#extend "layout"}}
{{#content "main"}}


<section class="polygraphy-intro js-polygraphy-slider">
    <div class="container">
        <div class="polygraphy-intro__row">

            <h2 class="section-label section-label--dark polygraphy-intro__heading">
                Полиграфия
            </h2>
            <div class="polygraphy-intro__content">
                <h3 class="polygraphy-intro__content-heading">
                    Качественная печать на любых носителях
                </h3>
                <div class="polygraphy-intro__content-text">
                    <p>
                        делаем на всем качественно быстро можем под ключ, обратитесь за консультацией и мы вам поможем
                    </p>
                </div>
            </div>
        </div>
        <div class="polygraphy-intro__row">
            <div class="polygraphy-intro__slider-info">
                <div class="polygraphy-intro__text-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="polygraphy-intro__text-slider-card">
                                    <h4 class="polygraphy-intro__slider-info-title">
                                        Готовые подарочные наборы к&nbsp;8&nbsp;марта
                                    </h4>
                                    <div class="polygraphy-intro__slider-info-text">
                                        <p>
                                            Акция 2=3 на подарочные наборы к&nbsp;8&nbsp;марта. Широкий выбор по
                                            доступным ценам
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="polygraphy-intro__text-slider-card">
                                    <h4 class="polygraphy-intro__slider-info-title">
                                        Готовые подарочные наборы к&nbsp;8&nbsp;марта
                                    </h4>
                                    <div class="polygraphy-intro__slider-info-text">
                                        <p>
                                            Акция 2=3 на подарочные наборы к&nbsp;8&nbsp;марта. Широкий выбор по
                                            доступным ценам
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="polygraphy-intro__slider-arrows">
                    <button class="polygraphy-intro__slider-arrow polygraphy-intro__slider-arrow--prev">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
                            <circle cx="22.5" cy="22.5" r="21.5" fill="none" stroke-width="2" stroke="#B8B8B8" />
                            <circle cx="22.5" cy="22.5" r="21.5" fill="none" stroke-width="2" stroke="#B8B8B8" />
                            <path fill="#B8B8B8"
                                d="M24.76,26.58l-3.27-3.52,3.27-3.52a.87.87,0,0,0,0-1.17.79.79,0,0,0-.59-.26h0a.8.8,0,0,0-.59.26l-3.81,4.1a.86.86,0,0,0-.23.59.82.82,0,0,0,.23.58l3.81,4.11a.8.8,0,0,0,.59.26.85.85,0,0,0,.6-.26A.87.87,0,0,0,24.76,26.58Z" />
                        </svg>
                    </button>
                    <button class="polygraphy-intro__slider-arrow polygraphy-intro__slider-arrow--next">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
                            <circle cx="22.5" cy="22.5" r="21.5" fill="none" stroke-width="2" stroke="#B8B8B8" />
                            <circle cx="22.5" cy="22.5" r="21.5" fill="none" stroke-width="2" stroke="#B8B8B8" />

                            <path fill="#B8B8B8"
                                d="M20.24,18.42l3.27,3.52-3.27,3.52a.87.87,0,0,0,0,1.17.79.79,0,0,0,.59.26h0a.8.8,0,0,0,.59-.26l3.81-4.1a.86.86,0,0,0,.23-.59.82.82,0,0,0-.23-.58l-3.81-4.11a.8.8,0,0,0-.59-.26.85.85,0,0,0-.6.26A.87.87,0,0,0,20.24,18.42Z" />

                        </svg>
                    </button>
                </div>
            </div>
            <div class="polygraphy-intro__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="polygraphy-intro__slider-card">
                                <img src="img/polygraphy-slider-1.jpg" alt=""
                                    class="polygraphy-intro__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="polygraphy-intro__slider-card">
                                <img src="img/design-intro.jpg" alt="" class="polygraphy-intro__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="where-to-print js-move-up-block">
    <div class="container">
        <div class="where-to-print__content">
            <svg width="14" height="14" aria-hidden="true" class="icon-spring where-to-print__spring">
                <use xlink:href="#spring"></use>
            </svg>
            <h2 class="section-heading section-heading--grey where-to-print__heading">
                на чем будем печатать?
            </h2>
            <div class="where-to-print__slider js-where-top-print-slider">
                <div class="swiper-container">
                    <ul class="swiper-wrapper where-to-print__list">
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/1.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Наклейки, стикеры
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item where-to-print__list-item--large">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-label">
                                    акция
                                </div>
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/2.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Блокноты
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 150 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/3.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Листовки
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-label">
                                    -10%
                                </div>
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/4.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Открытки, сертификаты, приглашения
                                </h4>
                                <div class="where-to-print__card-price where-to-print__card-price--old">
                                    от 40 ₽
                                </div>
                                <div class="where-to-print__card-price where-to-print__card-price--new">
                                    от 36 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-label">
                                    -10%
                                </div>
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/5.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Штампы<br> и печати
                                </h4>
                                <div class="where-to-print__card-price where-to-print__card-price--old">
                                    от 1400 ₽
                                </div>
                                <div class="where-to-print__card-price where-to-print__card-price--new">
                                    от 1260 ₽
                                </div>
                            </a>
                        </li>

                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/3.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Листовки
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/4.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Открытки, сертификаты, приглашения
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/1.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Наклейки, стикеры
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item where-to-print__list-item--large">
                            <a href="#" class="where-to-print__card">

                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/6.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Визитки
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/7.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Штампы и печати
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>

                        <li class="swiper-slide where-to-print__list-item where-to-print__list-item--large">
                            <a href="#" class="where-to-print__card">

                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/7.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    футболки
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 500 ₽
                                </div>
                            </a>
                        </li>

                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/5.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Штампы<br> и печати
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/4.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Открытки, сертификаты, приглашения
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/3.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Листовки
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                        <li class="swiper-slide where-to-print__list-item">
                            <a href="#" class="where-to-print__card">
                                <div class="where-to-print__card-image-container">
                                    <img src="img/where-to-buy/1.png" alt="" class="where-to-print__card-image">
                                </div>
                                <h4 class="where-to-print__card-title">
                                    Наклейки, стикеры
                                </h4>
                                <div class="where-to-print__card-price">
                                    от 40 ₽
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="shop js-shop">
    <div class="container">
        <div class="shop__content">
            <h2 class="section-label shop__heading">
                Магазин
            </h2>
            <picture>
                <source data-srcset="img/macbook-desktop.webp" type="image/webp">
                <source data-srcset="img/macbook-desktop.png" type="image/png">
                <img data-src="img/macbook-desktop.png" alt="" class="lazyload shop__image">
            </picture>
            <div class="shop__info">
                <div class="shop__text">
                    <p>
                        <em>Удобное оформление</em> заказа в интернет-магазине imagestudio.shop
                    </p>
                </div>
                <a href="#" class="buy-link shop__link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-cart">
                        <use xlink:href="#cart"></use>
                    </svg>
                    перейти в магазин
                </a>
            </div>
        </div>
    </div>
</section>

<section class="services js-services js-move-up-block">
    <div class="container">
        <h2 class="section-heading services__heading">
            <div class="services__heading-text">
                Изготавливаем полиграфию<br> по современным технологиям
            </div>
        </h2>
        <div class="services__row">
            <ol class="services__nav-list">
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter services__nav-link-counter--unordered">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-marker">
                                        <use xlink:href="#marker"></use>
                                    </svg>
                                </span>
                                <span class="services__nav-link-text">
                                    шелкография
                                </span>

                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter services__nav-link-counter--unordered">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-marker">
                                        <use xlink:href="#marker"></use>
                                    </svg>
                                </span>
                                <span class="services__nav-link-text">
                                    уф печать
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter services__nav-link-counter--unordered">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-marker">
                                        <use xlink:href="#marker"></use>
                                    </svg>
                                </span>
                                <span class="services__nav-link-text">
                                    цифровая печать
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter services__nav-link-counter--unordered">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-marker">
                                        <use xlink:href="#marker"></use>
                                    </svg>
                                </span>
                                <span class="services__nav-link-text">
                                    гравировка
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter services__nav-link-counter--unordered">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-marker">
                                        <use xlink:href="#marker"></use>
                                    </svg>
                                </span>
                                <span class="services__nav-link-text">
                                    баннер и постер
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter services__nav-link-counter--unordered">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-marker">
                                        <use xlink:href="#marker"></use>
                                    </svg>
                                </span>
                                <span class="services__nav-link-text">
                                    термоперенос
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
                <li class="services__nav-list-item">
                    <div class="services__nav-accordion">
                        <div class="services__nav-accordion-btn">
                            <a href="#" class="services__nav-link">
                                <span class="services__nav-link-counter services__nav-link-counter--unordered">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-marker">
                                        <use xlink:href="#marker"></use>
                                    </svg>
                                </span>
                                <span class="services__nav-link-text">
                                    вышивка
                                </span>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="services__nav-accordion-content">
                            <div class="services__nav-accordion-content-inner">

                            </div>
                        </div>
                    </div>
                </li>
            </ol>
            <div class="services__slider">
                <div class="services__slider-content">
                    <div class="services__slider-images">
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/polygraphy-service-mobile.jpg" media="(max-width: 640px)">
                                <img data-src="img/polygraphy-service.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/polygraphy-service-mobile.jpg" media="(max-width: 640px)">
                                <img data-src="img/polygraphy-service.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/polygraphy-service-mobile.jpg" media="(max-width: 640px)">
                                <img data-src="img/polygraphy-service.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/polygraphy-service-mobile.jpg" media="(max-width: 640px)">
                                <img data-src="img/polygraphy-service.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/polygraphy-service-mobile.jpg" media="(max-width: 640px)">
                                <img data-src="img/polygraphy-service.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/polygraphy-service-mobile.jpg" media="(max-width: 640px)">
                                <img data-src="img/polygraphy-service.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                        <div class="services__slider-image-layer">
                            <picture>
                                <source data-srcset="img/polygraphy-service-mobile.jpg" media="(max-width: 640px)">
                                <img data-src="img/polygraphy-service.jpg" alt=""
                                    class="lazyload services__slider-image">
                            </picture>
                        </div>
                    </div>
                    <div class="services__slider-text">
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                шелкография
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Это разновидность трафаретной печати, в которой в качестве материала для
                                    изготовления печатной формы используются специальные полиэфирные, нейлоновые или
                                    металлические сетки малой толщины с высокой частотой расположения нитей.
                                </p>
                            </div>


                            <a href="#details-modal" class="dot-link services__slider-text-btn js-open-modal">
                                <span class="dot-link__text">
                                    подробнее
                                </span>
                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                уф печать
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Это разновидность трафаретной печати, в которой в качестве материала для
                                    изготовления печатной формы используются специальные полиэфирные, нейлоновые или
                                    металлические сетки малой толщины с высокой частотой расположения нитей.
                                </p>
                            </div>
                            <a href="#details-modal" class="dot-link services__slider-text-btn js-open-modal">
                                <span class="dot-link__text">
                                    подробнее
                                </span>
                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                цифровая печать
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Это разновидность трафаретной печати, в которой в качестве материала для
                                    изготовления печатной формы используются специальные полиэфирные, нейлоновые или
                                    металлические сетки малой толщины с высокой частотой расположения нитей.
                                </p>
                            </div>
                            <a href="#details-modal" class="dot-link services__slider-text-btn js-open-modal">
                                <span class="dot-link__text">
                                    подробнее
                                </span>
                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                гравировка
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Это разновидность трафаретной печати, в которой в качестве материала для
                                    изготовления печатной формы используются специальные полиэфирные, нейлоновые или
                                    металлические сетки малой толщины с высокой частотой расположения нитей.
                                </p>
                            </div>
                            <a href="#details-modal" class="dot-link services__slider-text-btn js-open-modal">
                                <span class="dot-link__text">
                                    подробнее
                                </span>
                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                баннер и постер
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Это разновидность трафаретной печати, в которой в качестве материала для
                                    изготовления печатной формы используются специальные полиэфирные, нейлоновые или
                                    металлические сетки малой толщины с высокой частотой расположения нитей.
                                </p>
                            </div>
                            <a href="#details-modal" class="dot-link services__slider-text-btn js-open-modal">
                                <span class="dot-link__text">
                                    подробнее
                                </span>
                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                термоперенос
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Это разновидность трафаретной печати, в которой в качестве материала для
                                    изготовления печатной формы используются специальные полиэфирные, нейлоновые или
                                    металлические сетки малой толщины с высокой частотой расположения нитей.
                                </p>
                            </div>
                            <a href="#details-modal" class="dot-link services__slider-text-btn js-open-modal">
                                <span class="dot-link__text">
                                    подробнее
                                </span>
                            </a>
                        </div>
                        <div class="services__slider-text-item">
                            <h4 class="services__slider-text-heading">
                                вышивка
                            </h4>
                            <div class="services__slider-text-description">
                                <p>
                                    Это разновидность трафаретной печати, в которой в качестве материала для
                                    изготовления печатной формы используются специальные полиэфирные, нейлоновые или
                                    металлические сетки малой толщины с высокой частотой расположения нитей.
                                </p>
                            </div>
                            <a href="#details-modal" class="dot-link services__slider-text-btn js-open-modal">
                                <span class="dot-link__text">
                                    подробнее
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="how-we-work js-move-up-block">
    <div class="container">
        <h2 class="section-heading how-we-work__heading">
            Как мы работаем?
        </h2>


        <div class="how-we-work__row">
            <div class="how-we-work__slider-col">
                <div class="how-we-work__slider js-how-we-work-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper how-we-work__slider-column-wrapper">
                            <div class="swiper-slide">
                                <div class="how-we-work__slider-card">
                                    <div class="how-we-work__slider-card-number">
                                        01
                                    </div>
                                    <h4 class="how-we-work__slider-card-title">
                                        Заявка
                                    </h4>
                                    <div class="how-we-work__slider-card-text">
                                        <p>
                                            Оставьте заявку через формы сайта или соберите заказ в интернет-магазине.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="how-we-work__slider-card">
                                    <div class="how-we-work__slider-card-number">
                                        02
                                    </div>
                                    <h4 class="how-we-work__slider-card-title">
                                        Расчет
                                    </h4>
                                    <div class="how-we-work__slider-card-text">
                                        <p>
                                            Наши менеджеры подготовят для вас подходящую конфигурацию расчета в течении
                                            1 дня.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="how-we-work__slider-card">
                                    <div class="how-we-work__slider-card-number">
                                        03
                                    </div>
                                    <h4 class="how-we-work__slider-card-title">
                                        оплата
                                    </h4>
                                    <div class="how-we-work__slider-card-text">
                                        <p>
                                            Оставьте заявку через формы сайта или соберите заказ в интернет-магазине.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="how-we-work__slider-card">
                                    <div class="how-we-work__slider-card-number">
                                        04
                                    </div>
                                    <h4 class="how-we-work__slider-card-title">
                                        печать и доставка
                                    </h4>
                                    <div class="how-we-work__slider-card-text">
                                        <p>
                                            Оставьте заявку через формы сайта или соберите заказ в интернет-магазине.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-we-work__form-col">
                <form action="/" method="POST" class="contact-form" data-need-validation=""
                    id="modal-contact-form">
                    <div class="contact-form__top-row">
                        <h3 class="contact-form__heading">
                            Оставьте заявку
                        </h3>
                        <svg width="14" height="14" aria-hidden="true" class="icon-star contact-form__star">
                            <use xlink:href="#star"></use>
                        </svg>
                    </div>
                    <div class="contact-form__fields">
                        <div class="contact-form__field">
                            <input type="text" name="name" class="contact-form__input" required placeholder="Имя">
                        </div>
                        <div class="contact-form__field">
                            <input type="tel" name="phone" class="contact-form__input js-phone-input" required
                                data-parsley-phone="" placeholder="телефон">
                        </div>
                        <div class="contact-form__field">
                            <textarea name="comment" class="contact-form__input" placeholder="Сообщение"></textarea>
                        </div>
                        <div class="contact-form__field">
                            <div class="contact-form__file-upload js-contact-form-file-upload"
                                data-loaded-text="заменить файл">
                                <label class="contact-form__file-upload-dropzone">
                                    <input type="file" name="file" class="contact-form__file-upload-input">
                                    <div class="contact-form__file-upload-icon">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-paper-clip">
                                            <use xlink:href="#paper-clip"></use>
                                        </svg>
                                    </div>
                                    <div class="contact-form__file-upload-text">
                                        прикрепить файл
                                    </div>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="contact-form__controls">
                        <label class="contact-form__policy-checkbox">
                            <input type="checkbox" name="policy" value="1" class="contact-form__policy-checkbox-input"
                                required checked>
                            <span class="contact-form__policy-checkbox-mark">
                                <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </span>
                            <span class="contact-form__policy-checkbox-text">
                                согласен с
                                политикой конфиденциальности

                            </span>
                        </label>
                        <button type="submit" class="btn btn--large btn--white how-we-work__form-submit" data-text="отправить заявку">
                            <span class="btn__inner-text">
                                отправить заявку
                            </span>

                        </button>
                    </div>
                    <div class="contact-form__success">
                        <div class="contact-form__top-row">
                            <h3 class="contact-form__heading">
                                Спасибо за<br> оставленную заявку
                            </h3>
                            <svg width="14" height="14" aria-hidden="true" class="icon-star contact-form__star">
                                <use xlink:href="#star"></use>
                            </svg>
                        </div>
                        <div class="contact-form__success-text">
                            наш менеджер свяжется с вами после обработки оставленной заявки
                        </div>
                        <button type="reset" class="contact-form__success-send-again">
                            отправить новую заявку
                        </button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

<section class="advantages js-advantages">
    <div class="container">
        <div class="advantages__row">
            <div class="advantages__star-wrapper">
                <div class="advantages__star-inner-wrapper">
                    <svg width="14" height="14" aria-hidden="true" class="icon-star advantages__star">
                        <use xlink:href="#star"></use>
                    </svg>
                </div>


            </div>
            <div class="advantages__content">
                <div class="advantages__top-text">
                    <p>
                        Высокое качество круглый год<br> при больших объемах работы
                    </p>
                </div>
                <ul class="advantages__list">
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-number">
                                80 000
                            </div>
                            <div class="advantages__card-text">
                                <p>
                                    Ручек с нанесением
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-number">
                                100 000
                            </div>
                            <div class="advantages__card-text">
                                <p>
                                    Блокнотов произведено

                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="advantages__list-item">
                        <div class="advantages__card">
                            <div class="advantages__card-number">
                                300 000
                            </div>
                            <div class="advantages__card-text">
                                <p>
                                    Страниц отпечатано
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="partners js-move-up-block">
    <div class="container">
        <h2 class="section-heading partners__heading">
            Для нас важно долгосрочное<br> сотрудничество
        </h2>
        <div class="partners__slider js-partners-slider">
            <div class="swiper-container">
                <ul class="swiper-wrapper partners__list">
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/1.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/2.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/3.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/4.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/5.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/6.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/7.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/8.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/9.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/10.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/11.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/12.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="lets-talk lets-talk--inner-star lets-talk--blue js-move-up-block">
    <div class="container">
        <div class="lets-talk__row">

            <div class="lets-talk__card">
                <svg width="14" height="14" aria-hidden="true" class="icon-star lets-talk__star">
                    <use xlink:href="#star"></use>
                </svg>
                <div class="lets-talk__card-content">
                    <h2 class="lets-talk__card-heading">
                        Давайте обсудим<br>
                        ваш проект
                    </h2>
                    <form action="/" method="POST" data-need-validation="">
                        <div class="lets-talk__form-row" id="lets-talk-error-element">
                            <div class="lets-talk__manager-text">
                                наш менеджер ответит<br> на все ваши вопросы
                            </div>
                            <div class="lets-talk__inputs-block">


                                <div class="lets-talk__input-wrapper">
                                    <input type="tel" name="phone" class="lets-talk__input js-phone-input" required
                                        placeholder="номер телефона" data-parsley-phone="" data-parsley-class-handler="#lets-talk-error-element" data-parsley-class-handler=".lets-talk__inputs-block">
                                    <button class="lets-talk__form-submit" type="submit">
                                        <span class="lets-talk__form-submit-text">
                                            отправить заявку
                                        </span>


                                        <svg width="14" height="14" aria-hidden="true" class="icon-submit-arrow-right">
                                            <use xlink:href="#submit-arrow-right"></use>
                                        </svg>
                                    </button>

                                </div>
                                <label class="lets-talk__policy-checkbox">
                                    <input type="checkbox" name="policy" value="1"
                                        class="lets-talk__policy-checkbox-input" required checked>
                                    <span class="lets-talk__policy-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="lets-talk__policy-checkbox-text">
                                        согласен с
                                        политикой конфиденциальности

                                    </span>
                                </label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}