{{#extend "layout"}}
{{#content "main"}}


<section class="studio-intro">
    <div class="container">
        <div class="studio-intro__row">
            <div class="studio-intro__text">
                <p>
                    Студия дизайна и<br> полиграфии в Казани
                </p>
            </div>
            <h1 class="studio-intro__heading">
                Создаем и продвигаем визуальный<br> имидж компании и бренда, производим<br> сувениры и печатную продукцию
            </h1>
        </div>
        <div class="studio-intro__row">
            <div class="studio-intro__numbers">
                <div class="studio-intro__numbers-block">
                    <div class="studio-intro__numbers-block-digit">
                        7 лет
                    </div>
                    <div class="studio-intro__numbers-block-text">
                        <p>
                            опыта в полиграфии<br> и&nbsp;производства сувениров
                        </p>
                    </div>
                </div>
                <div class="studio-intro__numbers-block">
                    <div class="studio-intro__numbers-block-digit">
                        17
                    </div>
                    <div class="studio-intro__numbers-block-text">
                        <p>
                            футболок с&nbsp;нанесением производим ежегодно
                        </p>
                    </div>
                </div>
                <div class="studio-intro__numbers-block">
                    <div class="studio-intro__numbers-block-digit">
                        315
                    </div>
                    <div class="studio-intro__numbers-block-text">
                        <p>
                            реализованных проектов производства полиграфии под&nbsp;ключ
                        </p>
                    </div>
                </div>
            </div>
            <div class="studio-intro__image-wrapper">
                <img src="img/studio-intro.jpg" alt="" class="studio-intro__image">
            </div>
        </div>
    </div>
</section>


<section class="history js-history js-move-up-block">
    <div class="container">
        <div class="history__top-row">
            <h2 class="history__heading">
                С 2013 года предлагаем оптимальные решения для своих клиентов
            </h2>
            <div class="history__arrows">
                <button class="slider-arrows__btn history__arrows-btn history__arrows-btn--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-arrows__btn history__arrows-btn history__arrows-btn--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="history__slider">

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-top-row">

                                <div class="history__slider-card-line">

                                </div>

                            </div>
                            <h4 class="history__slider-card-title">
                                события
                            </h4>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-top-row">
                                <div class="history__slider-card-date">
                                    2013
                                    <div class="history__slider-card-month">
                                        февраль
                                    </div>
                                </div>
                                <div class="history__slider-card-line">

                                </div>

                            </div>
                            <div class="history__slider-card-text">
                                <p>
                                    Проводим дизайн-исследование, разрабатываем брендинг, оформляем ваш проект в
                                    единый брендбук.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-top-row">
                                <div class="history__slider-card-date">
                                    2013
                                    <div class="history__slider-card-month">
                                        21 февраля
                                    </div>
                                </div>
                                <div class="history__slider-card-line">

                                </div>

                            </div>
                            <div class="history__slider-card-text">
                                <p>
                                    Проводим дизайн-исследование, разрабатываем брендинг, оформляем ваш проект в
                                    единый брендбук.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-top-row">
                                <div class="history__slider-card-date">
                                    2013
                                    <div class="history__slider-card-month">
                                        март
                                    </div>
                                </div>
                                <div class="history__slider-card-line">

                                </div>

                            </div>
                            <div class="history__slider-card-text">
                                <p>
                                    Высокое качество круглый год при больших объемах работы
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-top-row">
                                <div class="history__slider-card-date">
                                    2013
                                    <div class="history__slider-card-month">
                                        февраль
                                    </div>
                                </div>
                                <div class="history__slider-card-line">

                                </div>

                            </div>
                            <div class="history__slider-card-text">
                                <p>
                                    Проводим дизайн-исследование, разрабатываем брендинг, оформляем ваш проект в
                                    единый брендбук.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-top-row">
                                <div class="history__slider-card-date">
                                    2013
                                    <div class="history__slider-card-month">
                                        21 февраля
                                    </div>
                                </div>
                                <div class="history__slider-card-line">

                                </div>

                            </div>
                            <div class="history__slider-card-text">
                                <p>
                                    Проводим дизайн-исследование, разрабатываем брендинг, оформляем ваш проект в
                                    единый брендбук.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history__slider-card">
                            <div class="history__slider-card-top-row">
                                <div class="history__slider-card-date">
                                    2013
                                    <div class="history__slider-card-month">
                                        март
                                    </div>
                                </div>
                                <div class="history__slider-card-line">

                                </div>

                            </div>
                            <div class="history__slider-card-text">
                                <p>
                                    Высокое качество круглый год при больших объемах работы
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-services js-move-up-block">
    <div class="container">
        <div class="about-services__row">
            <h2 class="section-label section-label--dark about-services__heading">
                услуги
            </h2>
            <div class="about-services__content">
                <div class="about-services__content-block">
                    <div class="about-services__content-block-top-row">
                        <h3 class="about-services__content-block-heading">
                            Делаем масштабные проекты для крупных&nbsp;компаний и организаций.
                        </h3>
                        <div class="about-services__content-block-intro-text">
                            <p>
                                Мы работаем над тем, чтобы каждый из их продуктов решали задачи бизнеса и целевой
                                аудитории.
                            </p>
                        </div>
                    </div>
                    <ul class="about-services__services-list">
                        <li class="about-services__services-list-item">
                            <div class="about-services__services-card">
                                <h4 class="about-services__services-card-title">
                                    Дизайн
                                </h4>
                                <div
                                    class="about-services__services-card-info about-services__services-card-info--pink">
                                    <img src="img/about-services/1.png" alt=""
                                        class="about-services__services-card-icon about-services__services-card-icon--pink-book">

                                    <ul class="about-services__services-card-list">
                                        <li class="about-services__services-card-list-item">
                                            Айдентика
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Promo дизайн
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Cопровождение бренда
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="about-services__services-list-item">
                            <div class="about-services__services-card">
                                <h4 class="about-services__services-card-title">
                                    Полиграфия
                                </h4>
                                <div
                                    class="about-services__services-card-info about-services__services-card-info--blue">

                                    <img src="img/about-services/2.png" alt=""
                                        class="about-services__services-card-icon about-services__services-card-icon--blue-book">
                                    <ul class="about-services__services-card-list">
                                        <li class="about-services__services-card-list-item">
                                            Шелкография
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            УФ печать
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Гравировка
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Цифровая печать
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Баннер и постер
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Термотрансфер
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="about-services__services-list-item">
                            <div class="about-services__services-card">
                                <h4 class="about-services__services-card-title">
                                    Мерч
                                </h4>
                                <div
                                    class="about-services__services-card-info about-services__services-card-info--green">

                                    <img src="img/about-services/3.png" alt=""
                                        class="about-services__services-card-icon about-services__services-card-icon--cap">
                                    <ul class="about-services__services-card-list">
                                        <li class="about-services__services-card-list-item">
                                            Разработка идеи
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Упаковка
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Производство
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Дизайн
                                        </li>
                                        <li class="about-services__services-card-list-item">
                                            Доставка
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="about-services__content-block">
                    <div class="about-services__content-block-top-row">
                        <h3 class="about-services__content-block-heading">
                            С 2013 года предлагаем оптимальные решения для своих клиентов.
                        </h3>

                    </div>
                    <ul class="about-services__advantages-list">
                        <li class="about-services__advantages-list-item">
                            <div class="about-services__advantages-card">
                                <h4 class="about-services__advantages-card-title">
                                    Качество и скорость
                                </h4>
                                <div class="about-services__advantages-card-text">
                                    <p>
                                        Наличие своей типографии позволяет сократить время изготовления и контролировать
                                        качество производства.
                                    </p>
                                </div>
                                <img src="img/ab-serv/1.jpg" alt="" class="about-services__advantages-card-image">
                            </div>
                        </li>
                        <li class="about-services__advantages-list-item">
                            <div class="about-services__advantages-card">
                                <h4 class="about-services__advantages-card-title">
                                    Забота о экологии
                                </h4>

                                <img src="img/ab-serv/2.jpg" alt="" class="about-services__advantages-card-image">
                                <div class="about-services__advantages-card-text">
                                    <p>
                                        1 тонна бумаги собрана и передана в переработку
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="about-services__advantages-list-item">
                            <div class="about-services__advantages-card">
                                <img src="img/ab-serv/3.jpg" alt="" class="about-services__advantages-card-image">
                                <h4 class="about-services__advantages-card-title">
                                    Клиентский сервис
                                </h4>
                                <div class="about-services__advantages-card-text">
                                    <p>
                                        За годы работы с компаниями мы выстроили удобный клиентский сервис с
                                        проактивными менеджерами, которые болеют за бизнес-клиентов.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team js-team js-move-up-block">
    <div class="container">
        <div class="team__top-row">
            <h2 class="team__heading">
                Команда классных специалистов
            </h2>
            <div class="team__top-slider-controls">
                <div class="team__top-slider-pagination">

                </div>

                <div class="team__top-slider-arrows">
                    <button class="slider-arrows__btn team__top-slider-btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn team__top-slider-btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="team__top-slider">
            <div class="team__top-slider-text">
                <p>
                    Над каждым проектом работает целая команда: менеджер, дизайнер и технические специалисты.
                </p>
                <p>
                    Мы постоянно отлаживаем процессы, чтобы создавать для вас лучший результат быстро и чётко
                </p>
            </div>
            <div class="team__top-slider-wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="team__top-slider-card">
                                <div class="team__top-slider-card-image-container">
                                    <img src="img/team/1.jpg" alt="" class="team__top-slider-card-image">
                                </div>
                                <h4 class="team__top-slider-card-title">
                                    Команда imagestudio на баттл-форуме «Точка зрения» для предпринимателей.
                                </h4>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team__top-slider-card">
                                <div class="team__top-slider-card-image-container">
                                    <img src="img/team/2.jpg" alt="" class="team__top-slider-card-image">
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team__top-slider-card">
                                <div class="team__top-slider-card-image-container">
                                    <img src="img/team/1.jpg" alt="" class="team__top-slider-card-image">
                                </div>
                                <h4 class="team__top-slider-card-title">
                                    Команда imagestudio на баттл-форуме «Точка зрения» для предпринимателей.
                                </h4>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team__top-slider-card">
                                <div class="team__top-slider-card-image-container">
                                    <img src="img/team/2.jpg" alt="" class="team__top-slider-card-image">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team__advantages">
            <ul class="team__advantages-list">
                <li class="team__advantages-list-item">
                    <div class="team__advantages-card">
                        <img src="img/team-advantages/1.svg" alt="" class="team__advantages-card-icon">
                        <h4 class="team__advantages-card-title">
                            Опытная команда
                        </h4>
                        <div class="team__advantages-card-text">
                            <p>
                                Командой было предложено оригинальное и&nbsp;мелкое решение задачи.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="team__advantages-list-item">
                    <div class="team__advantages-card">
                        <img src="img/team-advantages/2.svg" alt="" class="team__advantages-card-icon">
                        <h4 class="team__advantages-card-title">
                            Креативность
                        </h4>
                        <div class="team__advantages-card-text">
                            <p>
                                Наличие своей типографии позволяет сократить время изготовления и&nbsp;контролировать
                                качество производства.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="team__advantages-list-item">
                    <div class="team__advantages-card">
                        <img src="img/team-advantages/3.svg" alt="" class="team__advantages-card-icon">
                        <h4 class="team__advantages-card-title">
                            Сплоченность
                        </h4>
                        <div class="team__advantages-card-text">
                            <p>
                                За&nbsp;годы работы с компаниями мы&nbsp;выстроили удобный клиентский сервис
                                с&nbsp;проактивными
                                менеджерами.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="team__bottom-slider">
            <div class="team__bottom-slider-arrows">
                <button class="slider-arrows__btn team__bottom-slider-btn--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-arrows__btn team__bottom-slider-btn--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="team__bottom-slider-row">
                <div class="team__bottom-slider-text">
                    <p>
                        растем не только в&nbsp;профессиональном аспекте
                    </p>
                </div>
                <div class="team__bottom-slider-content">
                    <div class="team__bottom-slider-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="team__bottom-slider-card">
                                        <img src="img/team-slider-bottom/1.jpg" alt=""
                                            class="team__bottom-slider-card-image">
                                        <div class="team__bottom-slider-card-text">
                                            <p>
                                                7 марафонов Команда суммарно пробежла на казанском марафоне

                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="team__bottom-slider-card">
                                        <img src="img/team-slider-bottom/2.jpg" alt=""
                                            class="team__bottom-slider-card-image">
                                        <div class="team__bottom-slider-card-text">
                                            <p>
                                                7 марафонов Команда суммарно пробежла на казанском марафоне

                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="team__bottom-slider-card">
                                        <img src="img/team-slider-bottom/3.jpg" alt=""
                                            class="team__bottom-slider-card-image">
                                        <div class="team__bottom-slider-card-text">
                                            <p>
                                                7 марафонов Команда суммарно пробежла на казанском марафоне

                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="team__bottom-slider-card">
                                        <img src="img/team-slider-bottom/4.jpg" alt=""
                                            class="team__bottom-slider-card-image">
                                        <div class="team__bottom-slider-card-text">
                                            <p>
                                                7 марафонов Команда суммарно пробежла на казанском марафоне

                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="team__bottom-slider-card">
                                        <img src="img/team-slider-bottom/5.jpg" alt=""
                                            class="team__bottom-slider-card-image">
                                        <div class="team__bottom-slider-card-text">
                                            <p>
                                                7 марафонов Команда суммарно пробежла на казанском марафоне

                                            </p>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="team__bottom-slider-info-cards">
                        <div class="team__bottom-slider-hh-card">
                            <img src="img/hh-card-image.png" alt="" class="team__bottom-slider-hh-card-image">
                            <div class="team__bottom-slider-hh-card-content">
                                <h4 class="team__bottom-slider-hh-card-title">
                                    Хотите стать<br> частью нашей<br> команды?
                                </h4>
                                <div class="team__bottom-slider-hh-card-btns">
                                    <a href="#" class="team__bottom-slider-hh-card-hunter-btn">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-hh">
                                            <use xlink:href="#hh"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="team__bottom-slider-hh-card-apply-btn">
                                        присоединиться
                                        <svg width="14" height="14" aria-hidden="true" class="icon-sharing">
                                            <use xlink:href="#sharing"></use>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="team__bottom-slider-info-card">
                            <img src="img/info-cards/info-card-1.jpg" alt=""
                                class="team__bottom-slider-info-card-image">
                        </div>
                        <div class="team__bottom-slider-info-card">
                            <img src="img/info-cards/info-card-2.jpg" alt=""
                                class="team__bottom-slider-info-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners js-move-up-block">
    <div class="container">
        <h2 class="section-heading partners__heading">
            Для нас важно долгосрочное<br> сотрудничество
        </h2>
        <div class="partners__slider js-partners-slider">
            <div class="swiper-container">
                <ul class="swiper-wrapper partners__list">
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/1.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/2.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/3.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/4.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/5.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/6.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/7.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/8.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/9.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/10.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__card">
                            <img src="img/partners/11.png" alt="" class="partners__card-image">
                        </a>
                    </li>
                    <li class="swiper-slide partners__list-item">
                        <a href="#" class="partners__more">
                            <div class="partners__more-text">
                                смотреть проекты
                            </div>

                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="reviews js-reviews-slider js-move-up-block">
    <div class="container">
        <div class="reviews__row">
            <h2 class="section-label section-label--dark reviews__heading">
                Отзывы
            </h2>

            <div class="reviews__slider-top-panel">
                <div class="reviews__slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="reviews__slider-progress">

                </div>
            </div>
        </div>
        <div class="reviews__row">
            <div class="reviews__slider">
                <div class="reviews__slider-row">
                    <div class="reviews__slider-thumbs">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-thumbs-card">
                                        <img src="img/thumbs.jpg" alt="" class="reviews__slider-thumbs-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__slider-main">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-1.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    СәЛәТ
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-2.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    Татнефть
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-1.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    СәЛәТ
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="reviews__slider-card">
                                        <h4 class="reviews__slider-card-title">
                                            Командой было предложено оригинальное и мелое решение
                                        </h4>
                                        <div class="reviews__slider-card-text">
                                            <p>
                                                Обратились в Imagestudio для создания нового фирменного стиля для
                                                кофейни COFFESSION. Командой было предложено оригинальное и смелое
                                                решение. В итоге, айдентика получилась стильная, современная, броская и
                                                запоминающаяся! Благодарим за отличную работу!
                                            </p>
                                        </div>
                                        <div class="reviews__slider-card-author">
                                            <div class="reviews__slider-card-author-image-container">
                                                <img src="img/author-2.jpg" alt=""
                                                    class="reviews__slider-card-author-image">
                                            </div>
                                            <div class="reviews__slider-card-author-content">
                                                <div class="reviews__slider-card-author-company">
                                                    Татнефть
                                                </div>
                                                <div class="reviews__slider-card-author-name">
                                                    Валерия Дуброва
                                                </div>
                                                <div class="reviews__slider-card-author-role">
                                                    Генеральный директор
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="dot-link">
                                            <span class="dot-link__text">
                                                смотреть кейс
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="lets-talk lets-talk--inner-star lets-talk--blue js-move-up-block">
    <div class="container">
        <div class="lets-talk__row">
            <div class="lets-talk__card">
                <svg width="14" height="14" aria-hidden="true" class="icon-star lets-talk__star">
                    <use xlink:href="#star"></use>
                </svg>
                <div class="lets-talk__card-content">
                    <h2 class="lets-talk__card-heading">
                        Давайте обсудим<br>
                        ваш проект
                    </h2>
                    <form action="/" method="POST" data-need-validation="">
                        <div class="lets-talk__form-row" id="lets-talk-error-element">
                            <div class="lets-talk__manager-text">
                                наш менеджер ответит<br> на все ваши вопросы
                            </div>
                            <div class="lets-talk__inputs-block">


                                <div class="lets-talk__input-wrapper">
                                    <input type="tel" name="phone" class="lets-talk__input js-phone-input" required
                                        placeholder="номер телефона" data-parsley-phone="" data-parsley-class-handler="#lets-talk-error-element" data-parsley-class-handler=".lets-talk__inputs-block">
                                    <button class="lets-talk__form-submit" type="submit">
                                        <span class="lets-talk__form-submit-text">
                                            отправить заявку
                                        </span>


                                        <svg width="14" height="14" aria-hidden="true" class="icon-submit-arrow-right">
                                            <use xlink:href="#submit-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                                <label class="lets-talk__policy-checkbox">
                                    <input type="checkbox" name="policy" value="1"
                                        class="lets-talk__policy-checkbox-input" required checked>
                                    <span class="lets-talk__policy-checkbox-mark">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="lets-talk__policy-checkbox-text">
                                        согласен с
                                        политикой конфиденциальности

                                    </span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}