.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: lowercase;
    color: #ffffff;
    background-color: var(--primary-color);
    transition: color 0.2s, background-color 0.2s;
    flex-shrink: 0;
    border-radius: 2.2rem;

    position: relative;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;

    &::after {
        content: attr(data-text);
        left: 100%;
        position: absolute;
        padding: 0.8rem 1.6rem;
        padding-top: 0.6rem;
        transition: transform 0.5s ease;

        @include breakpoint(mobile) {
            padding: 0.6rem 1.6rem;
            padding-top: 0.5rem;
        }
    }

    &--large {
        border-radius: 4rem;
        &::after {
            padding: 1.4rem 2.8rem;
        }
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover {
        color: white;

        .btn__inner-text {
            animation-name: moving-letters;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        &::after {
            animation-name: moving-letters;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    &--white {
        background-color: white;
        color: var(--primary-color);
        &:link,
        &:visited {
            color: var(--primary-color);
        }

        .no-touch &:hover {
            color: var(--primary-color);
        }
    }
}

@keyframes moving-letters {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.btn__inner-text {
    display: block;
    transition: transform 0.5s ease;
    padding: 0.8rem 1.6rem;
    padding-top: 0.6rem;

    .btn--large & {
        padding: 1.4rem 2.8rem;
    }

    @include breakpoint(mobile) {
        padding: 0.4rem 1.6rem;
        padding-top: 0.3rem;
    }
}
