.case-images {
    margin-bottom: 9rem;
    @include breakpoint(mobile) {
        margin-bottom: 7rem;
    }
}

.case-images__figure {
    margin-bottom: 4rem;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.case-images__image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 1.8rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.case-images__figcaption {
    max-width: 36rem;
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: lowercase;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}
