.how-we-work {
    margin-bottom: 14rem;

    @include breakpoint(mobile) {
        margin-bottom: 8rem;
    }
}

.how-we-work__heading {
    margin-bottom: 6rem;
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.how-we-work__slider {
    @include breakpointMF(small-tablet) {
        .swiper-container {
            overflow: visible;
        }

        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            grid-column-gap: 12rem;
            grid-row-gap: 6rem;
        }

        &--three-cols {
            .swiper-wrapper {
                grid-template-columns: repeat(3, minmax(0, 1fr));
                grid-column-gap: 19rem;
            }
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
        }
    }

    @include breakpoint(mobile) {
        .swiper-slide {
            width: 80%;
        }

        .swiper-container {
            overflow: visible;
        }
    }
}

.how-we-work__slider-card {
    display: flex;
    flex-direction: column;
}

.how-we-work__slider-card-number {
    align-items: flex-start;
    width: 3.8rem;
    height: 3.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #111111;
    border-radius: 50%;
    align-self: flex-start;
    margin-bottom: 2rem;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;

    @include breakpoint(mobile) {
    }
}

.how-we-work__slider-card-title {
    font-weight: normal;
    font-size: 2.8rem;
    line-height: 3.2rem;
    text-transform: lowercase;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 2.1rem;
        line-height: 2.6rem;
        margin-bottom: 0.6rem;
    }
}

.how-we-work__slider-card-text {
    text-transform: lowercase;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

.how-we-work__delivery {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.how-we-work__delivery-card {
    margin-right: 3.5rem;
    margin-top: 2rem;

    @include breakpoint(mobile) {
        margin-right: 2rem;
    }
    &:last-child {
        margin-right: 0;
    }
}

.how-we-work__delivery-logo {
    height: 2rem;
    width: auto;
    display: block;
    object-fit: contain;
    object-position: left center;
    max-width: 100%;

    @include breakpoint(mobile) {
        height: 2.2rem;
    }
}

.how-we-work__row {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 4rem;
        padding-left: 36rem;
    }
}

.how-we-work__form-col {
    .contact-form,
    .contact-form__success {
        padding-top: 7rem;
    }
    @include breakpoint(mobile) {
        margin: 0 calc(-1 * var(--content-padding));
        margin-top: 10rem;
        .contact-form,
        .contact-form__success {
            padding-top: 4rem;
            padding-bottom: 7rem;
        }
    }
}

.how-we-work__slider .how-we-work__slider-column-wrapper {
    @include breakpointMF(small-tablet) {
        grid-template-columns: repeat(1, minmax(0, 1fr));

        .how-we-work__slider-card-number {
            position: absolute;
            right: 100%;
            top: -0.1rem;
            margin-right: 6rem;
        }

        .how-we-work__slider-card {
            max-width: 46rem;
        }
    }
}

.how-we-work__slider-col-heading {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: -0.1rem;
    text-transform: lowercase;
    font-weight: 400;
    position: relative;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        font-size: 2.3rem;
        line-height: 2.8rem;
        margin-bottom: 4rem;
    }

    svg {
        position: absolute;
        right: 100%;
        top: 1rem;
        width: 3.8rem;
        height: 3.8rem;
        fill: var(--primary-color);
        margin-right: 6rem;
        @include breakpoint(mobile) {
            position: static;
            right: auto;
            top: auto;
            margin: 0;
            margin-bottom: 1.4rem;
            width: 3.8rem;
            height: 3.8rem;
            display: block;
        }
    }
}
