.lets-talk {
    margin-bottom: 12rem;

    &--blue {
        color: white;
    }
    @include breakpoint(mobile) {
        margin-bottom: 6rem;
    }
}

.lets-talk__row {
    display: grid;
    grid-template-columns: minmax(auto, 9rem) minmax(0, 1fr);
    grid-column-gap: 9rem;

    .lets-talk--inner-star & {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: initial;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
    }
}

.lets-talk__star {
    width: 9rem;
    height: 9rem;
    display: block;
    fill: var(--primary-color);
    animation-name: star-spin;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
    margin-top: 14rem;

    .lets-talk--blue & {
        fill: white;
    }

    .lets-talk--inner-star & {
        margin: 0;
        margin-top: 2rem;

        @include breakpoint(mobile) {
            margin: 0;
            margin-bottom: 2.4rem;
        }
    }

    @include breakpoint(mobile) {
        margin: 0;
        width: 6.6rem;
        height: 6.6rem;
        margin-bottom: 2.4rem;
        display: block;
    }
}

.lets-talk__card {
    background: #f9f9f9;
    border-radius: 18rem 18rem 14rem 0px;
    padding: 11rem 17.5rem;
    padding-bottom: 12rem;
    // background-image: url("data:image/svg+xml,%3Csvg width='486' height='234' viewBox='0 0 486 234' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='243' cy='-9' r='221.5' fill='%23F9F9F9' stroke='white' stroke-width='43'/%3E%3C/svg%3E%0A");

    background-image: url("data:image/svg+xml,%3Csvg width='486' height='234' viewBox='0 0 486 234' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='243' cy='-9' r='221.5' fill='none' stroke='white' stroke-width='43'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 10rem top;
    background-size: 48.6rem auto;

    .lets-talk--blue & {
        background-color: var(--primary-color);
        background-image: url("data:image/svg+xml,%3Csvg width='486' height='234' viewBox='0 0 486 234' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='243' cy='-9' r='221.5' fill='none' stroke='%23336AFE' stroke-width='43'/%3E%3C/svg%3E%0A");

        @include breakpoint(mobile) {
            background-size: 18.9rem 18.9rem;
            background-position: right top;
            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 183 207'%3E%3Ccircle cx='189' cy='18' r='167.5' style='isolation:isolate' fill='none' stroke='%23fff' stroke-width='43' opacity='.05'/%3E%3C/svg%3E");
        }
    }

    .lets-talk--inner-star & {
        @include breakpointMF(small-tablet) {
            display: grid;
            grid-template-columns: minmax(auto, 9rem) minmax(0, 1fr);
            grid-column-gap: 18rem;
            padding-left: 9rem;
            padding-right: 9rem;
            padding-top: 11rem;
            padding-bottom: 11rem;
        }

        @include breakpoint(mobile) {
            border-radius: 0;
            margin: 0 calc(-1 * var(--content-padding));
            padding: 0 var(--content-padding);
            padding-top: 4rem;
            padding-bottom: 6.4rem;
        }
    }

    @include breakpoint(mobile) {
        background-image: none;
        background-color: transparent;
        padding: 0;
    }
}

.lets-talk__card-heading {
    font-size: 6.8rem;
    line-height: 6.4rem;
    text-transform: lowercase;
    margin-bottom: 4.5rem;
    font-weight: 400;
    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 4rem;
        line-height: 4.2rem;
        margin-bottom: 1.6rem;
    }
}

.lets-talk__form-row {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(auto, 24rem) minmax(0, 1fr);
    grid-gap: 3rem;
    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
        align-items: initial;
    }
}

.lets-talk__manager-text {
    font-size: 1.6rem;
    line-height: 2.1rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.1rem;
        margin-bottom: 4rem;

        br {
            display: none;
        }
    }
}

.lets-talk__input-wrapper {
    display: flex;
    align-items: center;
    border: 0.2rem solid #111111;
    border-radius: 10rem;
    padding: 1rem;
    position: relative;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 3rem #f9f9f9 inset !important;
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: var(--text-color) !important;
        color: var(--text-color) !important;
    }
    input:-webkit-autofill {
        caret-color: var(--text-color) !important;
    }

    .lets-talk--blue & {
        border-color: white;

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 3rem var(--primary-color) inset !important;
        }

        input:-webkit-autofill {
            -webkit-text-fill-color: white !important;
            color: white !important;
        }

     

        input:-webkit-autofill {
            caret-color: white !important;
        }
    }

    @include breakpoint(mobile) {
        padding: 0.5rem;
    }
}

.lets-talk__input {
    font-size: 2.8rem;
    line-height: 3.2rem;
    padding: 0 2rem;
    width: 50%;
    flex-grow: 1;
    .lets-talk--blue & {
        color: white;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.3rem;
        line-height: 2.7rem;
        padding: 0 2.5rem;
    }

    @include placeholder {
        color: var(--text-color);
        text-transform: lowercase;
        .lets-talk--blue & {
            color: white;
        }
    }
}

.lets-talk__form-submit {
    padding: 1.6rem 3.2rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: white;
    background-color: var(--primary-color);
    border-radius: 4rem;
    flex-shrink: 0;
    user-select: none;
    white-space: nowrap;
    transition: background-color 0.2s;

    @include breakpoint(mobile) {
        width: 5.4rem;
        height: 5.4rem;
        padding: 0;
        background-color: var(--text-color);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    svg {
        display: none;
        @include breakpoint(mobile) {
            height: 1.3rem;
            width: 3rem;
            fill: white;
            display: block;

            .lets-talk--blue & {
                fill: var(--primary-color);
            }
        }
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--primary-color-hover);
    }

    .lets-talk--blue & {
        background-color: white;
        color: var(--primary-color);

        &:link,
        &:visited {
            color: var(--primary-color);
        }

        .no-touch &:hover,
        .touch &:active {
            background-color: white;
        }
    }
}

.lets-talk__form-submit-text {
    @include breakpoint(mobile) {
        display: none;
    }
}

.lets-talk__policy-checkbox {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 3.2rem;
    margin-top: 1.2rem;
    user-select: none;
    cursor: pointer;

    @include breakpoint(mobile) {
        position: static;
        left: auto;
        margin-top: 1.8rem;
    }
}

.lets-talk__policy-checkbox-input {
    @include visuallyHidden();
}

.lets-talk__policy-checkbox-mark {
    width: 1.6rem;
    height: 1.6rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    flex-shrink: 0;
    margin-right: 0.6rem;
    margin-top: 0.3rem;

    .lets-talk--blue & {
        border-color: white;
    }

    @include breakpoint(mobile) {
        margin: 0;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.9rem;
    }
    svg {
        width: 0.85rem;
        height: 0.6rem;
        fill: var(--text-color);
        transition: opacity 0.2s;
        opacity: 0;

        .lets-talk--blue & {
            fill: white;
        }

        @include breakpoint(mobile) {
            width: 1.7rem;
            height: 1.2rem;
        }
    }
}

.lets-talk__policy-checkbox-text {
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-transform: lowercase;
    margin-top: 0.26rem;
    @include breakpoint(mobile) {
        margin-top: 0.35rem;
    }

    a {
        color: var(--primary-color);
        &:link,
        &:visited {
            color: var(--primary-color);
        }

        .lets-talk--blue & {
            color: white;

            &:link,
            &:visited {
                color: white;
            }

            .no-touch &:hover,
            .touch &:active {
                color: white;
            }
        }
    }
}

.lets-talk__policy-checkbox-input:checked ~ .lets-talk__policy-checkbox-mark svg {
    opacity: 1;
}

.lets-talk__inputs-block {
    position: relative;
}
