.portfolio {
    margin-bottom: 16.5rem;
}

.portfolio__row {
    display: grid;
    grid-template-columns: minmax(0, 32rem) minmax(0, 1fr);
    grid-column-gap: 4rem;
    align-items: flex-start;
}

.portfolio__info-row {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 53rem);
    grid-column-gap: 4rem;
    margin-bottom: 5.5rem;
    padding-bottom: 4rem;
    border-bottom: 2px solid #111111;
}

.portfolio__info-heading {
    font-size: 2.8rem;
    line-height: 3.2rem;
    text-transform: lowercase;
    font-weight: 400;
}

.portfolio__info-text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: lowercase;
}

.portfolio__categories {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5.5rem;
}

.portfolio__categories-link {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.2;
    border: 2px solid transparent;
    transition: color 0.2s, border-color 0.2s;
    margin-right: 2.4rem;
    padding: 0.3rem 1rem;
    border-radius: 1.4rem;
    text-transform: lowercase;
    margin-bottom: 1rem;
    user-select: none;
    -webkit-user-drag: none;
    &:last-child {
        margin-right: 0;
    }

    &.active {
        color: var(--primary-color);
        // border-color: var(--primary-color);
    }
}

.portfolio__categories-link-indicator {
    border: 2px solid var(--primary-color);
    border-radius: 1.4rem;
    position: absolute;
    pointer-events: none;
}




.portfolio__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
}

.portfolio__slider {
    

    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        width: 29rem;

        &-tuple {
            width: 24.2rem;
            padding-top: 4rem;
        }
    }
}

.portfolio__slider-card {
    height: 41.8rem;
    position: relative;
    width: 100%;

    .swiper-slide-tuple & {
        &:nth-child(1) {
            margin-bottom: 20px;
            height: 15rem;
        }
        &:nth-child(2) {
            height: 27rem;
        }
    }
}


// .portfolio__slider-wrapper {
//     height: 48rem;
//     flex-shrink: 0;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
// }

// .portfolio__slider-card {
//     position: relative;
//     width: 24.2rem;
//     height: 15rem;
//     margin-right: 2rem;
//     -webkit-user-drag: none;
//     user-select: none;
//     &:nth-child(3n + 1) {
//         height: 41.8rem;
//         width: 29rem;
//         margin-bottom: 0;
//     }
//     &:nth-child(3n - 1) {
//         margin-top: 4rem;
//         margin-bottom: 2rem;
//     }

//     &:nth-child(3n) {
//         height: 27rem;
//         margin-bottom: 0;
//     }
// }
