.section-heading {
    padding-bottom: 3.5rem;
    border-bottom: 2px solid var(--text-color);
    font-size: 4rem;
    line-height: 5rem;
    text-transform: lowercase;
    margin-bottom: 7rem;
    font-weight: 400;
}
