.service {
    margin-bottom: 15rem;
    @include breakpoint(mobile) {
        margin-bottom: 8rem;
    }
}

.service__row {
    display: grid;
    grid-template-columns: minmax(0, 32rem) minmax(0, 1fr);
    grid-column-gap: 4rem;
    align-items: flex-start;

    @include breakpoint(mobile) {
        grid-gap: 0;
        grid-template-columns: minmax(auto, 5.5rem) minmax(0, 1fr);
        grid-row-gap: 3rem;
        grid-template-areas: 'service-number service-text-content' 'service-slider service-slider';
    }
}

.service__text-content {
    @include breakpoint(mobile) {
        grid-area: service-text-content;
    }
}

.service__section-number {
    @include breakpoint(mobile) {
        grid-area: service-number;
    }
}

.service__content {
    display: grid;
    grid-template-columns: minmax(auto, 40rem) minmax(0, 1fr);
    grid-column-gap: 5rem;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.service__inner-heading {
    font-size: 2.8rem;
    line-height: 3.2rem;
    text-transform: lowercase;
    margin-bottom: 2.6rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.1rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;

        br {
            display: none;
        }
    }
}

.service__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: lowercase;
    margin-bottom: 3.5rem;
    max-width: 31.5rem;
    @include breakpoint(mobile) {
        max-width: none;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

.service__slider {
    position: relative;

    @include breakpoint(mobile) {
        grid-area: service-slider;
        .swiper-container {
            overflow: visible;
        }
    }
}

.service__slider-card {
    display: block;
    position: relative;
    &::before {
        content: '';
        display: block;
        padding-bottom: 51%;
        @include breakpoint(mobile) {
            padding-bottom: 100%;
        }
    }
}

.service__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service__slider-controls {
    position: absolute;
    left: 1.6rem;
    bottom: 1.6rem;
    right: 1.6rem;
    display: flex;
    align-items: center;
    z-index: 50;

    @include breakpoint(mobile) {
        left: 0.8rem;
        bottom: 0.8rem;

        right: 0.8rem;
    }
}

.service__slider-arrows {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        display: none;
    }
}

.service__slider-arrow {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    &:last-child {
        margin-right: 0;
    }
    svg {
        width: 0.9rem;
        height: 1.8rem;
        display: block;
        fill: white;
        transition: fill 0.2s;
    }

    &.swiper-button-disabled {
        cursor: default;
        svg {
            fill: rgba(white, 0.2);
        }
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        svg {
            fill: rgba(white, 0.5);
        }
    }
}

.service__slider-links {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin-right: 3rem;
    @include breakpoint(mobile) {
        margin: 0;
        max-width: none;
    }
}

.service__slider-link {
    padding: 0.6rem 0.7rem;
    padding-top: 0.48rem;
    position: relative;
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    margin-top: 0.8rem;
    margin-right: 0.8rem;
    z-index: 1;
    color: white;
    user-select: none;
    -webkit-user-drag: none;
    &:last-child {
        margin-right: 0;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
    }
}

.service__slider-link-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    top: 0.2rem;
    bottom: 0;
    z-index: -1;

    svg {
        width: 100%;
        height: 100%;
        display: block;
        rect {
            width: calc(100% - 2px);
            height: calc(100% - 2px);

            &:nth-child(2) {
                opacity: 0;
            }
        }
    }
}

.swiper-container-initialized ~ .service__slider-controls .service__slider-link-bg rect:nth-child(2) {
    opacity: 1;
}
